<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <h1>Song Quizzer</h1>
    <p>Welcome to Song Quizzer</p>
    <ul>
      <li><a href="/english-songs">English Songs</a></li>
      <li><a href="/spanish-songs">Spanish Songs</a></li>
    </ul>
  </body>
</html>
