<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <% include partials/google_analytics %>
    <link rel='stylesheet' href='/stylesheets/article.css' />
    <script type="text/javascript" src="/javascripts/filter.js"></script>
  </head>
  <body>
    <% include partials/navbar %>

<div class="container">
  <h1>Develop a customized language learning plan</h1>

  <h2 class="col-md-12">Your language learning plan should be tailored for you!</h2>

  <p>If you like reggaeton, you should study reggaeton...</p>

  <p>If you like the Simpsons and want to learn Spanish, you should watch TV is Spanish...</p>

  <h2 class="col-md-12">If you hate studying a language, you're not going to do it</h2>

  <p>You might be able to force yourself to study grammar for a few hours, but you'll eventually quit.  It is much easier to stick with a study system that is fun.</p>

  <h2 class="col-md-12">Contact us for customized language learning plans</h2>

  <p>Liz is a native Spanish speaker and also speaks English fluently.  She used to speak French and is currently learning Esperanto.</p>

  <p>Liz will Skype with you to develop a custom curriculum.  She will help you find music you like, TV shows that are approprite for your Spanish level, and friends on conversation exchanges.</p>

  <p>In subsequent classes, Liz will explain song lyrics that you don't understand or review your text conversations with Latin friends.</p>

  <p>This is the quickest and most direct way to learn!</p>

  <p>Ping <a href="https://twitter.com/lizparody23">Liz</a> on Twitter <a href="https://twitter.com/lizparody23">@lizparody23</a></p>

</div>

  </body>
</html>

