<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <% include partials/google_analytics %>
    <link rel='stylesheet' href='/stylesheets/article.css' />
    <script type="text/javascript" src="/javascripts/filter.js"></script>
  </head>
  <body>
    <% include partials/navbar %>

<div class="container">
  <h1>How to Learn Spanish and Have Fun</h1>

  <p>Most Spanish learning resources focus on grammar and are boring and ineffective.</p>

  <p>You can learn Spanish by watching TV, listening to music, and talking.  This is how children learn languages and it is a lot more fun!</p>

  <p>I spent years studying Spanish in high school and couldn’t even have a basic conversation when I moved to Colombia.</p>

  <p>How did I become fluent?</p>

  <p>I listened to music, watched TV, and found a Colombian girlfriend.</p>

  <h2 class="col-md-12">Music</h2>

  <img src="/images/articles/learn_spanish/shakira.jpg" alt="Image" class="img-responsive pull-right col-md-3">

  <p>Music is a great way to learn Spanish words and improve your pronunciation. Don't waste your time studying music that is boring and uses "proper" Spanish.</p>

  <p>It’s simple - listen to the music you like.</p>

  <p>If you like rap, try listening to <a href="/xantos/bailame-despacio">Xantos</a> or <a href="/nicky-jam/hasta-el-amanecer">reggaeton</a>. If you like relaxed music with beautiful lyrics, listen to <a href="/cultura-profetica/la-complicidad">Cultura Profetica</a>.</p>

  <p>The <a href="/">lyricDJ</a> application is the best way to study lyrics and learn songs. Try a few English songs first and then move on to some Spanish songs.</p>

  <h2 class="col-md-12">Movies / TV Shows</h2>

  <img src="/images/articles/learn_spanish/avatar.jpg" alt="Image" class="img-responsive pull-left col-md-3">

  <p>Watching TV is entertaining and teaches the type of Spanish that is most useful for speaking. If you already know the plot of a movie in English, it is much easier to understand the Spanish that is being spoken.</p>

  <p>How to Train Your Dragon, Finding Nemo and The Lion King are other great options ;).  Kid's movies are generally esaier to follow.</p>

  <p>Television Shows can be addicting and make the language learning process fun. <a href="http://www.imdb.com/title/tt0417299/?ref_=nv_sr_3">Avatar: The Last Airbender</a> is one of the top rated TV series in the history of television (number 3 all time according to IMDB) and the Spanish is easy.</p>

  <p>If you've watched shows like Breaking Bad, Better Call Saul, or House of Cards in English, try rewatching them in Spanish.  When you're familiar with the story, the Spanish is easier to follow.</p>

  <p>If you are a real beginner, watch the telenovela for English speakers called Destinos.</p>

  <p>I hated watching dubbed shows at first, but I eventually got used to it and stopped caring. Watching a dubbed version of Breaking Bad is a lot better than studying grammar.</p>

  <h2 class="col-md-12">Conversation exchanges</h2>
  <p>It is easy to find Spanish speakers that would like to help you learn English on websites like ConversationExchange.com and Hello Talk. I’ve Skyped and chatted with several Latinos on these sites and I’ve met many awesome people that are very patient.</p>

  <p>The sites encourage users to spend 50% of the time learning Spanish and the other 50% of time teaching English. A lot of Spanish speakers are too embarrassed to speak English (even if you beg them), so they are helping you the entire session. Teaching English to a Spanish speaker is not a waste of time - you’ll learn more about your own languages (e.g. all of the tenses we have) and will learn how sentences are constructed differently in Spanish.</p>

  <p>Skype Conversation exchanges are very convenient. Before I moved to Colombia, I had several friends on Skype and could easily find someone to chat with whenever I logged on. </p>

  <h2 class="col-md-12">Spanish speaking friends</h2>
  <p>Making real friends is a great way to practice the language. Converstaions with friends are less forced than classroom or tutoring conversations. You can talk about your life, boyfriend problems, trip plans, whatever.</p>

  <p>If you live in the United States, there are a ton of Spanish speaking people. When I am in the US, I just start speaking Spanish to people that look Latino. They treat me completely differently when they find I can speak Spanish - it’s awesome.</p>

  <h2 class="col-md-12">Tinder</h2>

  <img src="/images/articles/learn_spanish/tinder.png" alt="Image" class="img-responsive pull-right col-md-3">

  <p>Looking for love is a great way to practice Spanish. On Tinder, you can practice the same key phrases multiple times. You will tell people where you are from, how old you are, what you do for fun, and about your life. If there are not a lot of Latinos in your area, you can upgrade Tinder and set the destination to a city in Central or South America.</p>

  <p>Who knows - a Tinder conversation might be the motivation you need to book a flight and visit a Spanish speaking country for the first time!</p>

  <h2 class="col-md-12">Reading</h2>
  <p>Reading is easier than speaking in some respects and more difficult in others. It’s easier to go at your own pace when reading and it’s less awkward to stop and look up a word. Books and articles generally use vocabulary that is more advanced and it’s more difficult to decipher the context.</p>

  <p>I find reading to be tedious and boring. I can chat with other language learners on WhatsApp and be engaged, but books are difficult because I’m constantly stopping and looking up words. Reading is a great way to learn and I’ll try to be more disciplined about this going forward.</p>

  <p>I’ve managed to get fluent in Spanish without reading by texting with friends, watching TV, speaking with people on the street, and listening to music. You don’t have to use all of these learning methods to become fluent - you just need to work on the methods that you find interesting.</p>

  <h2 class="col-md-12">Immersion</h2>
  <p>Immersion coupled with studying is the most rapid way to learn a language. Simply living in a country does not mean that you are immersed in the language! Immersion means you are living with a Spanish speaking family, working in Spanish, and spending your free time in Spanish (e.g. you are speaking with Spanish with all your friends).</p>

  <p>I’ve seen a lot of gringos in Medellin Colombia that attend language bootcamp schools. Many of these students live in an apartment with other gringos, study in school for a couple of hours, and then party with other gringos at night. They are living in Colombia, but only practicing Spanish a couple of hours a day.</p>

  <p>I’ve always worked full time in English and have never been immersed. Luckily being immersed is not necessary for language learning. If you study effectively for an hour or two each day, you will be way ahead of most language learners that are “immersed”.</p>

  <h2 class="col-md-12">Small talk</h2>
  <p>I am relentless about making small talk in Spanish and will take any opportunity I get to practice. I chat with people in the grocery store, taxi drivers, in the park, on the metro, at restaurants, basically anywhere. Small talk conversations are very similar (e.g. Where are you from? What is your name?) and this repetition is great practice. Talking with a variety of people helps you practice listening to different accents.</p>

  <p>Many language learners are scared to speak because they know their Spanish is bad. Being bashful is a sever impediment for language learning. Your Spanish will be terrible when you’re starting out and the only way to make it better is by practicing. When I first moved to Colombia, I couldn’t understand anyone and they couldn’t understand me. I’ve been determined to keep on practicing and this has been the only way to learn the language.</p>

  <h2 class="col-md-12">Spanish speaking girlfriend / boyfriend</h2>
  <p>A Spanish speaking girlfriend or boyfriend is the best way to learn the language, especially if they don’t speak English well. I have a Colombian girlfriend and we spoke in English for the first two months of our relationship because my Spanish was so bad. We switched to Spanish because her family doesn’t speak English and my Spanish wasn’t progressing.</p>

  <p>Switching to Spanish was painful initially, but it enabled me to quickly become fluent. My girlfriend loves me, so she is patient and we never run out of things to talk about. I ask my girlfriend a lot of the same questions every day (e.g. how was your day) and the repetition really helps with retention. When we first started dating, I couldn’t understand anything she said (her accent was difficult for me) and now I understand her better than anyone else. </p>

  <h2 class="col-md-12">Duolingo</h2>
  <p>Duolingo is a great supplementary learning resource. Skyping with native speakers, making Latin friends, listening to music and watching TV are all more important. Duolingo can be used 15 minutes a day for practice, but you will not progress when if it is the only resource you use.</p>

  <p>When I first moved to Colombia, I had a friend that was trying to learn primarily with Duolingo. He used the app for 6 hours one day! Needless to say, he was very jealous about how rapidly my Spanish progressed. He should have watched more TV!</p>

  <h2 class="col-md-12">Studying Grammar</h2>

  <p>Studying grammar is the worst way to learn a language!</p>

  <p>When you learned English, you probably didn't start studying grammar until you'd been speaking for years.  Don't start studying grammar till you're converstaionally fluent.</p>

  <p>The polyglots <a href="http://www.mezzoguild.com/you-dont-need-to-study-grammar-to-learn-a-foreign-language/">Donovan Nagel</a> and <a href="http://www.fluentin3months.com/grammar/">Benny</a> agree.</p>

  <h2 class="col-md-12">Next Steps</h2>

  <p>Figure out what study method works for you and is not a chore.</p>

  <p>Start watching TV, making friends, or listen to music and have fun.  Learning Spanish should be awesome!</p>
</div>

  </body>
</html>

