<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel='stylesheet' href='/stylesheets/<%= song.css %>.css' />
    <script type="text/javascript" src="/javascripts/song_quiz.js"></script>
  </head>
  <body>
    <% include partials/navbar %>
    <div class="container">
      <br />
      <h1 class="title text-center"><%= song.name.toUpperCase() %></h1>
      <div class="col-md-12 text-center">
        <iframe class="video" width="784" height="441" src="https://www.youtube.com/embed/<%= song.youtube_id %>" frameborder="0"></iframe>
      </div>
        <h1 class="text-center">Your Score: <span class="score"></span></h1>
        <div class="col-md-12 text-center">
          <%- include('song_quizzes/' + song.name + '.ejs') %>
        </div>
    </div>
  </body>
</html>
