<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel='stylesheet' href='/stylesheets/<%= song.name %>.css' />
    <script type="text/javascript" src="/javascripts/song_quiz.js"></script>
  </head>
  <body>
    <h1>Song Quiz</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= song.youtube_id %>" frameborder="0" allowfullscreen></iframe>
    <%- include('song_quizzes/' + song.name + '.ejs') %>
  </body>
</html>

