<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel='stylesheet' href='/stylesheets/<%= song.css %>.css' />
    <script type="text/javascript" src="/javascripts/song_quiz.js"></script>
  </head>
  <body>
    <% include partials/navbar %>
    <div class="container">
      <br />
      <iframe class="col-md-6 col-md-offset-3" width="560" height="315" src="https://www.youtube.com/embed/<%= song.youtube_id %>" frameborder="0" allowfullscreen></iframe>
      <div class="col-md-6 col-md-offset-3 text-center">
        <%- include('song_quizzes/' + song.name + '.ejs') %>
      </p>
    </div>
  </body>
</html>
