<p>Oh Whoa<br />
Oh Whoa<br />
Oh Whoa</p>

<p>You know you love me, I know you <input type="text" data-answer="care" placeholder="Add word"><br />
Just shout whenever, and I'll be there<br />
You are my <input type="text" data-answer="love" placeholder="Add word">, you are my heart<br />
And we will never, ever , ever be apart</p>

<p>Are we an item? Girl, quit <input type="text" data-answer="playing" placeholder="Add word"><br />
"Were just friends," what are you saying<br />
Said "there's <input type="text" data-answer="another" placeholder="Add word">," and looked right in my eyes<br />
My first love broke my heart for the first time</p>

<p>And I was <input type="text" data-answer="like" placeholder="Add word"> baby, baby, baby, oh<br />
Like baby, baby, baby, oh<br />
Like baby, baby, baby, oh<br />
I <input type="text" data-answer="thought" placeholder="Add word"> you'd always be mine, mine</p>

<p><input type="text" data-answer="baby" placeholder="Add word">, baby, baby, oh<br />
Like baby, baby, baby, no<br />
Like baby, baby, baby, oh<br />
I thought you'd <input type="text" data-answer="always" placeholder="Add word"> be mine, mine</p>

<p>For you, I <input type="text" data-answer="would" placeholder="Add word"> have done whatever<br />
And I just can't believe we aren't together<br />
And I want to play it cool, but I'm <input type="text" data-answer="losing" placeholder="Add word"> you<br />
I'll buy you anything, I'll buy you diamond ring</p>

<p>And I'm in pieces, baby <input type="text" data-answer="fix" placeholder="Add word"> me<br />
And just shake me till you wake me from this bad dream<br />
I'm <input type="text" data-answer="going" placeholder="Add word"> down, down, down, down<br />
And I just can't believe my first love won't be <input type="text" data-answer="around" placeholder="Add word"></p>

<p>And I'm <input type="text" data-answer="like" placeholder="Add word"> baby, baby, baby, oh<br />
Like baby, baby, baby, no<br />
Like baby, baby, baby, oh<br />
I thought you'd always <input type="text" data-answer="be" placeholder="Add word"> mine, mine</p>

<p>Baby, baby, baby, oh<br />
Like baby, baby, baby, no<br />
Like baby, baby, baby, oh<br />
I thought you'd always be <input type="text" data-answer="mine" placeholder="Add word">, mine</p>

<p>When I <input type="text" data-answer="was" placeholder="Add word"> 13, I had my first love<br />
There was nobody that compared to my baby<br />
And <input type="text" data-answer="nobody" placeholder="Add word"> came between us who could ever come above<br />
She had me going crazy, oh I was starstruck<br />
She woke me up <input type="text" data-answer="daily" placeholder="Add word">, don't need no Starbucks</p>

<p>She made my <input type="text" data-answer="heart" placeholder="Add word"> pound<br />
I skip a beat when I see her in the street<br />
And at school on the <input type="text" data-answer="playground" placeholder="Add word"> <br />
But I really want to see her on the weekend<br />
She knows she got me dazing 'cause she was so <input type="text" data-answer="amazing" placeholder="Add word"><br />
And now my heart is breaking but I just keep on saying</p>

<p>Baby, baby, baby, oh<br />
Like baby, baby, baby, no<br />
Like baby, baby, baby, oh<br />
I thought you'd always be mine, <input type="text" data-answer="mine" placeholder="Add word"></p>

<p>Baby, baby, baby, oh<br />
Like baby, baby, baby, no<br />
Like baby, baby, baby, oh<br />
I thought you'd always be mine, mine</p>

<p>I'm all <input type="text" data-answer="gone" placeholder="Add word"><br />
(Yeah, yeah, yeah)<br />
(Yeah, yeah, yeah)<br />
<input type="text" data-answer="now" placeholder="Add word"> I'm all gone<br />
(Yeah, yeah, yeah)<br />
(Yeah, yeah, yeah)<br />
Now I'm all gone<br />
(Yeah, yeah, yeah)<br />
(Yeah, yeah, yeah)<br />
Now I'm all gone, gone, gone, gone<br />
I'm gone<br />
</p>
