<p>Yo te miro, se me corta la respiración<br />
Cuanto tu me <input type="text" data-answer="miras" placeholder="ingrese la palabra"> se me sube el corazón (me palpita lento el corazón)<br />
Y en silencio tu mirada dice mil palabras<br />
La <input type="text" data-answer="noche" placeholder="ingrese la palabra"> en la que te suplico que no salga el sol</p>

<p>(Bailando, bailando, bailando, bailando)<br />
Tu cuerpo y el <input type="text" data-answer="mio" placeholder="ingrese la palabra"> llenando el vacío<br />
Subiendo y bajando (subiendo y bajando)<br />
(Bailando, bailando, bailando, bailando)<br />
Ese fuego por dentro me esta enloqueciendo<br />
Me va saturando</p>

<p>Con tu física y tu química <input type="text" data-answer="tambien" placeholder="ingrese la palabra"> tu anatomía<br />
La cerveza y el tequila y tu boca con la mía<br />
Ya no <input type="text" data-answer="puedo" placeholder="ingrese la palabra"> mas (ya no puedo mas) Ya no puedo mas (ya no puedo mas)<br />
Con esta melodía, tu color, tu fantasía<br />
<input type="text" data-answer="con" placeholder="ingrese la palabra"> tu filosofía mi cabeza esta vacía<br />
Y ya no puedo mas (ya no puedo mas)<br />
Ya no puedo mas (ya no puedo mas)</p>

<p>Yo quiero estar contigo, <input type="text" data-answer="vivir" placeholder="ingrese la palabra"> contigo<br />
Bailar contigo, tener contigo<br />
Una noche <input type="text" data-answer="loca" placeholder="ingrese la palabra"> (una noche loca)<br />
Ay besar tu boca (y besar tu boca)<br />
Yo quiero estar contigo, vivir contigo<br />
<input type="text" data-answer="bailar" placeholder="ingrese la palabra"> contigo, tener contigo una noche loca<br />
Con tremenda loca (Ooh, ooh, ooh, ooh)</p>

<p>Tu me miras y me llevas a <input type="text" data-answer="otra" placeholder="ingrese la palabra"> dimensión (estoy en otra dimensión)<br />
Tu latidos aceleran a mi corazón<br />
(Tu latidos aceleran a mi corazón)<br />
Que ironía del destino no poder tocarte<br />
Abrazarte y sentir la magia de <input type="text" data-answer="tu" placeholder="ingrese la palabra"> olor</p>

<p>(<input type="text" data-answer="bailando" placeholder="ingrese la palabra">, bailando, bailando, bailando)<br />
Tu cuerpo y el mio llenando el vacío<br />
Subiendo y bajando (subiendo y bajando)<br />
(Bailando, bailando, bailando, bailando)<br />
<input type="text" data-answer="ese" placeholder="ingrese la palabra"> fuego por dentro me esta enloqueciendo<br />
Me va saturando</p>

<p>Con tu física y tu química también tu anatomía<br />
La cerveza y el tequila y tu boca con la mía<br />
Ya no puedo mas (ya no puedo mas)<br />
Ya no puedo mas (ya no puedo mas)<br />
Con esta melodía, tu color, tu fantasía<br />
Con tu filosofía mi cabeza esta vacía<br />
Y ya no puedo mas (ya no puedo mas)<br />
Ya no puedo mas (ya no puedo mas)</p>

<p>Yo quiero estar contigo, vivir contigo<br />
Bailar contigo, tener contigo<br />
Una noche loca (una noche loca)<br />
Ay besar tu boca (y besar tu boca)<br />
Yo quiero estar contigo, vivir contigo<br />
Bailar contigo, tener contigo una noche loca<br />
Con tremenda loca</p>

<p>(Ooh, ooh, ooh, ooh<br />
Ooh, ooh, ooh, ooh<br />
Ooh bailando amor<br />
Bailando amor, es que se me va el dolor</p>
