<p>Hey, hey, hey<br />
Hey, hey, hey<br />
Hey, hey, hey</p>

<p>If you can't <input type="text" data-answer="hear" placeholder="add word">, what I'm tryna say<br />
If you can't read, from the same page<br />
Maybe I'm going deaf<br />
Maybe I'm going blind<br />
Maybe I'm out of my <input type="text" data-answer="mind" placeholder="add word"></p>

<p>OK, now he was close<br />
Tried to domesticate <input type="text" data-answer="you" placeholder="add word"><br />
But you're an animal<br />
Baby, it's in your nature<br />
Just <input type="text" data-answer="let" placeholder="add word"> me liberate you<br />
You don't need no papers<br />
That man is not your mate<br />
And that's <input type="text" data-answer="why" placeholder="add word"> I'm gon' take you</p>

<p>Good girl!<br />
I know you <input type="text" data-answer="want" placeholder="add word"> it<br />
I know you want it<br />
I <input type="text" data-answer="know" placeholder="add word"> you want it</p>

<p>You're a good girl!<br />
Can't let it get past me<br />
Me fall from plastic<br />
Talk about getting blasted</p>

<p>I <input type="text" data-answer="hate" placeholder="add word"> these blurred lines!<br />
I know you want it<br />
I know you want it<br />
I know you want it</p>

<p>But you're a <input type="text" data-answer="good" placeholder="add word"> girl!<br />
The way you grab me<br />
Must wanna get nasty<br />
Go ahead, get at me</p>

<p>What do they make dreams for<br />
When you got them jeans on<br />
What do we need steam for<br />
You the hottest bitch in this place!</p>

<p>I <input type="text" data-answer="feel" placeholder="add word"> so lucky<br />
You wanna hug me<br />
What rhymes with hug me?<br />
Hey!</p>

<p>OK, now he was close<br />
Tried to domesticate you<br />
But you're an <input type="text" data-answer="animal" placeholder="add word"><br />
Baby, it's in your nature<br />
Just let me liberate you<br />
You don't need no papers<br />
That <input type="text" data-answer="man" placeholder="add word"> is not your mate<br />
And that's why I'm gon' take you</p>

<p>Good girl!<br />
I know you want it<br />
I know you want it<br />
I know you want it</p>

<p>You're a <input type="text" data-answer="good" placeholder="add word"> girl!<br />
Can't let it get past me<br />
Me fall from plastic<br />
Talk about getting blasted</p>

<p>I hate these blurred lines!<br />
I know you want it<br />
I know you want it<br />
I know you want it</p>

<p>But you're a good girl!<br />
The way <input type="text" data-answer="you" placeholder="add word"> grab me<br />
Must wanna get nasty<br />
Go ahead, get at me</p>

<p>(Hustle Gang Homie)<br />
One <input type="text" data-answer="thing" placeholder="add word"> I ask of you<br />
Lemme be the one you bring that ass up to<br />
From Malibu to Paris, boo<br />
Had a bitch, but she ain't bad as you<br />
So, hit me up when you passin' through<br />
I'll give you something big enough to tear your ass in two<br />
Swag on 'em even when you dress casual<br />
I mean, it's <input type="text" data-answer="almost" placeholder="add word"> unbearable<br />
Honey you not there when I'm<br />
At the bar side let you have me by<br />
Nothin' like your last guy, he too square for you<br />
He don't smack that ass and pull your hair for you<br />
So I'm just watchin' and waitin'<br />
For you to salute the truly pimpin'<br />
Not many <input type="text" data-answer="women" placeholder="add word"> can refuse this pimpin'<br />
I'm a nice guy, but don't get confused, you git'n it!</p>

<p>Shake your rump<br />
Get down<br />
Get up<br />
Do it like it hurt, like it hurt<br />
What, you don't like work?<br />
Hey!</p>

<p>Baby, <input type="text" data-answer="can" placeholder="add word"> you breathe?<br />
I got this from Jamaica<br />
It always works for me<br />
Dakota to Decatur</p>

<p>No <input type="text" data-answer="more" placeholder="add word"> pretending<br />
Cause now your winning<br />
Here's our beginning<br />
I <input type="text" data-answer="always" placeholder="add word"> wanted a</p>

<p>Good girl!<br />
I know you want it<br />
I know you want it<br />
I know you want it</p>

<p>You're a good girl!<br />
Can't let it get past me<br />
Me fall from plastic<br />
Talk about getting blasted</p>

<p>I <input type="text" data-answer="hate" placeholder="add word"> these blurred lines!<br />
I know you want it<br />
I know you want it<br />
I know you want it</p>

<p>But you're a good girl!<br />
The way you grab me<br />
Must wanna get nasty<br />
<input type="text" data-answer="go" placeholder="add word"> ahead, get at me</p>

<p><input type="text" data-answer="everybody" placeholder="add word"> get up<br />
Everybody get up</p>

<p>Hey, hey, hey<br />
Hey, hey, hey<br />
Hey, hey, hey</p>
