<p>I threw a wish in <input type="text" data-answer="the" placeholder="Add word"> well<br />
Don't ask me I'll never tell<br />
I <input type="text" data-answer="looked" placeholder="Add word"> at you as it fell<br />
And now you're in my way</p>

<p>I trade my soul <input type="text" data-answer="for" placeholder="Add word"> a wish<br />
Pennies and dimes for a kiss<br />
I wasn't looking for <input type="text" data-answer="this" placeholder="Add word"><br />
But now you're in my way</p>

<p>Your stare was holding<br />
Ripped jeans<br />
Skin was showing<br />
<input type="text" data-answer="hot" placeholder="Add word"> night<br />
Wind was blowing<br />
Where you think you're going baby?</p>

<p>Hey I just <input type="text" data-answer="met" placeholder="Add word"> you<br />
And this is crazy<br />
But here's my number<br />
So call me <input type="text" data-answer="maybe" placeholder="Add word"><br />
It's hard to look right at you baby<br />
But here's my number<br />
So call me maybe</p>

<p>Hey I just met <input type="text" data-answer="you" placeholder="Add word"><br />
And this is crazy<br />
But here's my <input type="text" data-answer="number" placeholder="Add word"><br />
So call me maybe<br />
And all the other boys<br />
Try to chase me<br />
But here's my number<br />
So <input type="text" data-answer="call" placeholder="Add word"> me maybe</p>

<p>You took your time with the call<br />
I <input type="text" data-answer="took" placeholder="Add word"> no time with the fall<br />
You gave me nothing at all<br />
But still you're in my way</p>

<p>I beg and borrow and steal<br />
At <input type="text" data-answer="first" placeholder="Add word"> sight and it's real<br />
I didn't know I would feel it<br />
But it's in my way</p>

<p>Your stare was holding<br />
Ripped jeans<br />
Skin was showing<br />
Hot night<br />
Wind was <input type="text" data-answer="blowing" placeholder="Add word"><br />
Where you think you're going baby?</p>

<p>Hey I just met you<br />
And <input type="text" data-answer="this" placeholder="Add word"> is crazy<br />
But here's my number<br />
So call me maybe<br />
It's hard to look right at you baby<br />
But here's <input type="text" data-answer="my" placeholder="Add word"> number<br />
So call me maybe</p>

<p>Before you came into my <input type="text" data-answer="life" placeholder="Add word"><br />
I missed you so bad<br />
I missed you so bad<br />
I missed you so so bad<br />
Before you came into my life<br />
I <input type="text" data-answer="missed" placeholder="Add word"> you so bad<br />
And you should know that<br />
I missed you so so bad, bad, bad, bad....</p>

<p>It's hard to look right at you baby<br />
But here's my number<br />
So call me <input type="text" data-answer="maybe" placeholder="Add word"></p>

<p>Hey I just met you<br />
And this is crazy<br />
But here's my number<br />
So call me maybe<br />
And all the other boys<br />
Try to <input type="text" data-answer="chase" placeholder="Add word"> me<br />
But here's my number<br />
So call me maybe</p>

<p>Before you came into my life<br />
I missed you so bad<br />
I missed you so bad<br />
I missed you so so bad<br />
<input type="text" data-answer="before" placeholder="Add word"> you came into my life<br />
I missed you so bad<br />
And you should know that<br />
So call me, maybe<br />
</p>
