<p>A and X, El Orfanato<br />
Danza Kuduro<br />
Lucenzo El Orfanato<br />
El rey</p>

<p>La mano arriba, cintura sola<br />
Da media vuelta, Danza Kuduro<br />
No me canses <input type="text" data-answer="ahora" placeholder="ingrese la palabra">, que esto solo empieza<br />
Mueve la cabeza, Danza Kuduro</p>

<p>La mano arriba, cintura sola<br />
Da media vuelta, Danza Kuduro<br />
No me canses ahora, que esto solo <input type="text" data-answer="empieza" placeholder="ingrese la palabra"><br />
Mueve la cabeza, Danza Kuduro</p>

<p>Quien puede domar la fuerza del mar<br />
Que se mete por tus venas<br />
Lo <input type="text" data-answer="caliente" placeholder="ingrese la palabra"> del sol que se te metió<br />
Y no te deja quieta nena</p>

<p>Quien puede parar eso que al bailar<br />
Descontrola tus caderas (sexy)<br />
Y <input type="text" data-answer="ese" placeholder="ingrese la palabra"> fuego que quema por dentro<br />
Y lento te convierte en fiera</p>

<p>Con las manos arriba, cintura sola<br />
Da media vuelta y sacude duro<br />
No te quites ahora, que esto solo empieza<br />
Mueve la cabeza y sacude <input type="text" data-answer="duro" placeholder="ingrese la palabra"></p>

<p>Balancar que uma loucura<br />
Morena vem o meu lado<br />
Ninguem vai ficar parado<br />
Quero ver, mexa Kuduro<br />
Balancar que una loucura<br />
Morena vem o meu lado<br />
Ninguem vai ficar parado oh</p>

<p>Oi oi oi, oi oi oi oi<br />
E <input type="text" data-answer="para" placeholder="ingrese la palabra"> quebrar Kuduro, vamos Danza Kuduro<br />
Oi oi oi, oi oi oi oi<br />
Seja morena o loira, vem balancar Kuduro<br />
Oi oi oi</p>

<p>La manos <input type="text" data-answer="arriba" placeholder="ingrese la palabra">, cintura sola<br />
Da media vuelta, Danza Kuduro<br />
No te canses ahora, que esto solo empieza<br />
Mueve la cabeza, Danza Kuduro</p>

<p>La manos arriba <input type="text" data-answer="cintura" placeholder="ingrese la palabra"> sola<br />
Da media vuelta Danza Kuduro<br />
No te canses ahora que esto solo empieza<br />
Mueve la cabeza Danza Kuduro</p>

<p>Balancar que uma loucura<br />
Morena vem o meu lado<br />
Ninguem vai ficar parado<br />
Quero ver mexa Kuduro<br />
Balancar que uma loucura<br />
Morena vem o meu lado<br />
Ninguem vai ficar parado oh</p>

<p>Oi oi oi, oi oi oi oi<br />
E para quebrar Kuduro, <input type="text" data-answer="vamos" placeholder="ingrese la palabra"> Danza Kuduro<br />
Oi oi oi, oi oi oi oi<br />
Seja morena o loira, vem balancar Kuduro<br />
Oi oi oi<br />
El Orfanato</p>

<p>La <input type="text" data-answer="mano" placeholder="ingrese la palabra"> arriba, cintura sola<br />
Da media vuelta, Danza Kuduro<br />
No te canses ahora, que esto solo empieza<br />
Mueve la cabeza, Danza Kuduro</p>

<p>La mano arriba, cintura sola<br />
Da media vuelta, Danza Kuduro<br />
No te canses ahora, que esto solo empieza<br />
<input type="text" data-answer="mueve" placeholder="ingrese la palabra"> la cabeza, Danza Kuduro</p>

<p>A and X</p>
