    <p align = "center">

		<br />
		Shine bright like a diamond
		<br />

		<br />
		Shine bright like a diamond
		<br />
		<br />
		<br />
		​
	  <br />
		Find light in the  <input type="text" id = "txtbox" data-answer="beautiful" placeholder="Enter the word"> sea
		<br />

		<br />
		I choose to be happy
		<br />

		<br />
	  You and I, you and I
		<br />

    <br />
		We're <input type="text" id = "txtbox" data-answer="like" placeholder="Enter the word"> diamonds in the sky
		<br />
		<br />
		<br />

	  <br />
		You're a shooting star I see
		<br />
	​
	  <br />
		a vision of <input type="text" id = "txtbox" data-answer="ecstasy" placeholder="Enter the word">
		<br />

	  <br />
		When you hold me, I'm alive
		<br />

	  <br />
		We're like diamonds in the <input type="text" id = "txtbox" data-answer="sky" placeholder="Enter the word">
		<br />
		<br />
		<br />

	  <br />
		I knew that we'd <input type="text" id = "txtbox" data-answer="become" placeholder="Enter the word"> one right away
		<br />

		<br />
		Oh, right away
	  <br />

		<br />
		At first sight I left the energy of sun <input type="text" id = "txtbox" data-answer="rays" placeholder="Enter the word">
		<br />

		<br />
		I saw the life inside your eyes
		<br />
		<br />
		<br />

		<br />
		So shine bright, <input type="text"	id = "txtbox" data-answer="tonight" placeholder="Enter the word"> you and I
		<br />

		<br />
		We're beautiful like diamonds in the sky
		<br />

		<br />
	  Eye to eye, so	<input type="text" id = "txtbox" data-answer="alive" placeholder="Enter the word">
		<br />

		<br />
		We're beautiful like diamonds in the sky
		<br />
		<br />
		<br />

		<br />
		<input type="text" id = "txtbox" data-answer="shine" placeholder="Enter the word">bright like a diamond
		<br />
		<br />
		Shine bright like a diamond
		<br />
		<br />
		Shining bright like a diamond
		<br />

		<br />
		We're beautiful like diamonds in the sky (x2)
		<br />
		<br />
		<br />

		<br />
		Shine bright like a diamond
		<br />
		<br />
		Shine bright like a diamond
		<br />
		<br />
		Shine bright like a diamond
		<br />
		<br />
    <br />

		<br />
		So shine, <input type="text"	id = "txtbox" data-answer="bright" placeholder="Enter the word">tonight you and I
		<br />

		<br />
		We're beautiful like diamonds in the sky
		<br />

		<br />
	  Eye to eye, so	<input type="text" id = "txtbox" data-answer="alive" placeholder="Enter the word">
		<br />

		<br />
		We're beautiful like diamonds in the sky
		<br />

		</p>
