<p>
  Dime si es verdad<br />
  Me dijeron que te estas casando<br />
  Tú no sabes lo que estoy sufriendo<br />
  Esto te lo tengo que decir
</p>

<p>
  Cuéntame<br />
  Tu despedida <input type="text" data-answer="para" placeholder="ingrese la palabra"> mi fue dura<br />
  Será que él te llevo a la luna<br />
  Y yo no supe hacerlo así
</p>

<p>
  Te estaba buscando<br />
  Por las <input type="text" data-answer="calles" placeholder="ingrese la palabra"> gritando<br />
  Esto me está matando, oh no
</p>

<p>
  Te estaba buscando<br />
  Por las calles gritando<br />
  Como un loco <input type="text" data-answer="tomando" placeholder="ingrese la palabra"> oh
</p>

<p>
  Es que yo sin ti, tú sin mi<br />
  Dime quién puede ser feliz<br />
  Esto no me <input type="text" data-answer="gusta" placeholder="ingrese la palabra"><br />
  Esto no me gusta
</p>

<p>
  Es que yo sin ti, y tú sin mi<br />
  Dime quién <input type="text" data-answer="puede" placeholder="ingrese la palabra"> ser feliz<br />
  Esto no me gusta<br />
  Esto no me gusta
</p>

<p>
  Yo sin ti, no aguanto más<br />
  Por eso vengo a decirte lo que <input type="text" data-answer="siento" placeholder="ingrese la palabra"><br />
  Estoy sufriendo una soledad
</p>

<p>
  Y aunque tu padre no aprobó esta relación<br />
  Yo sigo insistiendo a <input type="text" data-answer="pedir" placeholder="ingrese la palabra"> perdón<br />
  Lo único que importa está en tu corazón
</p>

<p>
  Te estaba buscando<br />
  Por las calles gritando<br />
  <input type="text" data-answer="esto" placeholder="ingrese la palabra"> me está matando oh no
</p>

<p>
  Te estaba buscando<br />
  Por las calles gritando<br />
  Como un loco tomando oh
</p>

<p>
  Es que yo sin ti, tú sin mi<br />
  Dime quién puede ser <input type="text" data-answer="feliz" placeholder="ingrese la palabra"><br />
  Esto no me gusta<br />
  Esto no me gusta
</p>

<p>
  Es que yo sin ti, y tú sin mi<br />
  Dime quién puede ser feliz<br />
  Esto no me gusta<br />
  Esto no me gusta
</p>

<p>
  Yo te juré a ti eterno amor<br />
  Y ahora <input type="text" data-answer="otro" placeholder="ingrese la palabra"> te da calor<br />
  Cuando en las noches tienes frío oh oh, oh
</p>

<p>
  Yo sé que él te parece mejor<br />
  Pero yo estoy en tu corazón<br />
  Y por eso <input type="text" data-answer="pido" placeholder="ingrese la palabra"> perdón
</p>

<p>
  Es que yo sin ti, y tú sin mi<br />
  <input type="text" data-answer="dime" placeholder="ingrese la palabra"> quién puede ser feliz<br />
  Esto no me gusta, oh no<br />
  Esto no me gusta
</p>

<p>
  Es que yo sin ti, y tú sin mi<br />
  Dime quién puede ser feliz<br />
  Esto no me gusta oh yeah, oh
</p>

<p>
  Dicen que uno no sabe lo que tiene hasta que lo pierde pero<br />
  (Yo sin ti) Vale la pena <input type="text" data-answer="luchar" placeholder="ingrese la palabra"> por lo que uno quiere<br />
  (No puedo vivir así) Y hacer el intento<br />
  (No quiero vivir así)
</p>

<p>
  N.I.C.K<br />
  Nicky Jam<br />
  Enrique Iglesias<br />
  (No quiero que me dejes por favor)<br />
  Saga White Black<br />
  (Y te pido perdón)<br />
  La Industria Inc.
</p>
