<p>You would not believe your <input type="text" data-answer="eyes" placeholder="Add word"><br />
If ten million fireflies<br />
Lit up the world as I <input type="text" data-answer="fell" placeholder="Add word"> asleep<br />
'Cause they'd fill the open air<br />
And leave teardrops <input type="text" data-answer="everywhere" placeholder="Add word"><br />
You'd think me rude<br />
But I would just stand and stare</p>

<p>I'd like to make <input type="text" data-answer="myself" placeholder="Add word"> believe<br />
That planet Earth turns slowly<br />
It's hard to say that I'd <input type="text" data-answer="rather" placeholder="Add word"> stay awake when I'm asleep<br />
'Cause everything is never as it seems</p>

<p>'Cause I'd get a <input type="text" data-answer="thousand" placeholder="Add word"> hugs<br />
From ten thousand lightning bugs<br />
As they tried to <input type="text" data-answer="teach" placeholder="Add word"> me how to dance<br />
A foxtrot above my head<br />
A sock hop <input type="text" data-answer="beneath" placeholder="Add word"> my bed<br />
The disco ball is just hanging by a thread<br />
(Thread, thread...)</p>

<p>I'd like to make myself <input type="text" data-answer="believe" placeholder="Add word"><br />
That planet Earth turns slowly<br />
It's <input type="text" data-answer="hard" placeholder="Add word"> to say that I'd rather stay awake when I'm asleep<br />
'Cause everything is never as it seems<br />
(When I fall asleep)</p>

<p>Leave my door open <input type="text" data-answer="just" placeholder="Add word"> a crack<br />
(Please take me away from here)<br />
'Cause I <input type="text" data-answer="feel" placeholder="Add word"> like such an insomniac<br />
(Please take me away from here)<br />
Why do I tire of counting <input type="text" data-answer="sheep" placeholder="Add word">?<br />
(Please take me away from here)<br />
When I'm far too <input type="text" data-answer="tired" placeholder="Add word"> to fall asleep<br />
(Ha-ha)</p>

<p>To ten <input type="text" data-answer="million" placeholder="Add word"> fireflies<br />
I'm weird 'cause I hate goodbyes<br />
I got misty eyes as they said <input type="text" data-answer="farewell" placeholder="Add word"><br />
(Said farewell)<br />
But I'll know <input type="text" data-answer="where" placeholder="Add word"> several are<br />
If my dreams get real bizarre<br />
'Cause I saved a few and I keep <input type="text" data-answer="them" placeholder="Add word"> in a jar<br />
(Jar, jar, jar...)</p>

<p>I'd like to make myself believe<br />
That <input type="text" data-answer="planet" placeholder="Add word"> Earth turns slowly<br />
It's hard to say that I'd rather stay awake when I'm asleep<br />
'Cause <input type="text" data-answer="everything" placeholder="Add word"> is never as it seems<br />
(When I fall asleep)</p>

<p>I'd like to make myself believe<br />
That planet Earth turns <input type="text" data-answer="slowly" placeholder="Add word"> <br />
It's hard to say that I'd rather stay awake when I'm asleep<br />
'Cause everything is never as it <input type="text" data-answer="seems" placeholder="Add word"><br />
(When I fall asleep)</p>

<p>I'd like to make myself believe<br />
That planet Earth turns slowly<br />
It's hard to say that I'd rather stay <input type="text" data-answer="awake" placeholder="Add word"> when I'm asleep<br />
Because my <input type="text" data-answer="dreams" placeholder="Add word"> are bursting at the seams<br />
</p>
