<p>Fuiste tú<br />
Tenerte fue una foto tuya puesta en mi cartera<br />
Un beso y verte <input type="text" data-answer="hacer" placeholder="ingrese la palabra"> pequeño por la carretera<br />
Lo tuyo fue la intermitencia y la melancolía<br />
Lo mío fue aceptarlo todo <input type="text" data-answer="porque" placeholder="ingrese la palabra"> te quería<br />
Verte llegar fue luz, verte partir un blues</p>

<p><input type="text" data-answer="fuiste" placeholder="ingrese la palabra"> tú<br />
De más está decir que sobra decir tantas cosas<br />
O aprendes a querer la espina o no aceptes rosas<br />
Jamás te <input type="text" data-answer="dije" placeholder="ingrese la palabra"> una mentira o te inventé un chantaje<br />
Las nubes grises también forman parte de paisaje<br />
Y no me veas así, <input type="text" data-answer="si" placeholder="ingrese la palabra"> hubo un culpable aquí<br />
Fuiste tú</p>

<p>Que fácil fue tocar el cielo la <input type="text" data-answer="primera" placeholder="ingrese la palabra"> vez<br />
Cuando los besos fueron el motor de arranque<br />
Que encendió la luz que <input type="text" data-answer="hoy" placeholder="ingrese la palabra"> se desaparece</p>

<p>Así se disfraza el <input type="text" data-answer="amor" placeholder="ingrese la palabra"> para su conveniencia<br />
Aceptando todo sin hacer preguntas<br />
Y dejando al <input type="text" data-answer="tiempo" placeholder="ingrese la palabra"> la estocada a muerte<br />
Nada más que decir<br />
Sólo <input type="text" data-answer="queda" placeholder="ingrese la palabra"> insistir<br />
Dilo</p>

<p>Fuiste tú<br />
La luz de neón del barrio sabe que estoy tan cansada<br />
Me ha visto <input type="text" data-answer="caminar" placeholder="ingrese la palabra"> descalza por la madrugada<br />
Estoy en medio del que soy y del que tú quisieras<br />
Queriendo despertar <input type="text" data-answer="pensando" placeholder="ingrese la palabra"> como no quisiera<br />
Y no me veas así, si hubo un culpable aquí<br />
Fuiste tú</p>

<p>Que fácil fue <input type="text" data-answer="tocar" placeholder="ingrese la palabra"> el cielo la primera vez<br />
Cuando los besos fueron el motor de arranque<br />
Que encendió la <input type="text" data-answer="luz" placeholder="ingrese la palabra"> que hoy se desaparece</p>

<p>Así se disfraza el amor para su conveniencia<br />
Aceptando todo sin hacer <input type="text" data-answer="preguntas" placeholder="ingrese la palabra"><br />
Y dejando al tiempo la estocada a muerte<br />
Nada más que <input type="text" data-answer="decir" placeholder="ingrese la palabra"><br />
Sólo queda insistir<br />
Fuiste tú</p>

<p>Que fácil fue tocar el cielo la primera <input type="text" data-answer="vez" placeholder="ingrese la palabra"><br />
Cuando los besos fueron el motor de arranque<br />
Que encendió la luz que hoy se desaparece</p>

<p>Así se disfraza el amor para su conveniencia<br />
Aceptando todo <input type="text" data-answer="sin" placeholder="ingrese la palabra"> hacer preguntas<br />
Y dejando al tiempo la estocada a muerte<br />
Nada más que decir<br />
Si <input type="text" data-answer="quieres" placeholder="ingrese la palabra"> insistir<br />
Fuiste tú</p>
