<p>Si necesita reggaeton dale<br />
Sigue bailando <input type="text" data-answer="mami" placeholder="ingrese la palabra"> no pare<br />
Acércate a mi pantalón dale<br />
Vamos a pegarnos como animales</p>

<p>Si <input type="text" data-answer="necesita" placeholder="ingrese la palabra"> reggaeton dale<br />
Sigue bailando mami no pare<br />
Acércate a mi pantalón dale<br />
Vamos a pegarnos como animales</p>

<p>Muévete a mi ritmo, <input type="text" data-answer="siente" placeholder="ingrese la palabra"> el magnetismo<br />
Tu cadera con la mia (boom)<br />
Hacen un sismo, ahora da lo mismo<br />
El amor ahora es turismo<br />
Diciéndole que no al que viene con romanticismo<br />
Si te dan ganas de <input type="text" data-answer="bailar" placeholder="ingrese la palabra"> pues dale<br />
En esta disco todos somos iguales<br />
Te ves bonita con tu swing salvaje<br />
Sigue bailando que pa eso te traje</p>

<p>Si te dan ganas de bailar pues <input type="text" data-answer="dale" placeholder="ingrese la palabra"><br />
En esta disco todos somos iguales<br />
Te ves <input type="text" data-answer="bonita" placeholder="ingrese la palabra"> con tu swing salvaje<br />
Sigue bailando que pa eso te traje</p>

<p>Si necesita <input type="text" data-answer="reggaeton" placeholder="ingrese la palabra"> dale<br />
Sigue bailando mami no pare<br />
Acércate a mi pantalón dale<br />
Vamos a pegarnos como animales</p>

<p>Si necesita reggaeton dale<br />
Sigue bailando mami no pare<br />
Acércate a mi pantalón dale<br />
Vamos a pegarnos como <input type="text" data-answer="animales" placeholder="ingrese la palabra"></p>

<p>Y yo hoy estoy aquí imaginando<br />
Sexy <input type="text" data-answer="baila" placeholder="ingrese la palabra"> y me deja con las ganas<br />
Y yo hoy estoy aquí imaginándolo<br />
Sexy baila y me deja con las ganas</p>

<p>Que bien te queda a ti esa faldita<br />
Ella es señora, no es señorita<br />
Sexy baila y me deja con las ganas<br />
Como te luces cuando lo meneas<br />
Cuanto quisiera hacerte el <input type="text" data-answer="amor" placeholder="ingrese la palabra"><br />
Enséñame lo que sabes</p>

<p>Si necesita reggaeton dale<br />
<input type="text" data-answer="sigue" placeholder="ingrese la palabra"> bailando mami no pare<br />
Acércate a mi pantalón dale<br />
Vamos a pegarnos como animales</p>

<p>Si necesita reggaeton dale<br />
Sigue bailando mami no pare<br />
Acércate a mi <input type="text" data-answer="pantalón" placeholder="ingrese la palabra"> dale<br />
Vamos a pegarnos como animales</p>
