<p>Hello, it's me<br />
I was wondering if after all these years you'd like to <input type="text" data-answer="meet" placeholder="Add word"><br />
To go over everything<br />
They say that time's supposed to <input type="text" data-answer="heal" placeholder="Add word"> ya, but I ain't done much healing</p>

<p>Hello, can you hear me?<br />
I'm in California dreaming <input type="text" data-answer="about" placeholder="Add word"> who we used to be<br />
When we were younger and free<br />
I've forgotten how it <input type="text" data-answer="felt" placeholder="Add word"> before the world fell at our feet</p>

<p>There's such a difference between us<br />
And a million miles</p>

<p>Hello from the other <input type="text" data-answer="side" placeholder="Add word"><br />
I must've called a thousand times<br />
To tell you I'm <input type="text" data-answer="sorry" placeholder="Add word"> for everything that I've done<br />
But when I call you never seem to be home</p>

<p>Hello from the <input type="text" data-answer="outside" placeholder="Add word"><br />
At least I can say that I've tried<br />
To <input type="text" data-answer="tell" placeholder="Add word"> you I'm sorry for breaking your heart<br />
But it don't matter, it clearly doesn't tear you apart<br />
<input type="text" data-answer="anymore" placeholder="Add word"></p>

<p>Hello, how are you?<br />
It's so typical of me to talk about <input type="text" data-answer="myself" placeholder="Add word">, I'm sorry<br />
I hope that you're well<br />
Did you ever make it out of that town where <input type="text" data-answer="nothing" placeholder="Add word"> ever happened?</p>

<p>It's no secret that the both of us<br />
Are running out of time</p>

<p>So hello from the other side<br />
I must've called a <input type="text" data-answer="thousand" placeholder="Add word"> times<br />
To tell you I'm sorry for everything that I've done<br />
But when I call you <input type="text" data-answer="never" placeholder="Add word"> seem to be home</p>

<p>Hello from the outside<br />
At least I <input type="text" data-answer="can" placeholder="Add word"> say that I've tried<br />
To tell you I'm sorry for breaking your heart<br />
But it don't <input type="text" data-answer="matter" placeholder="Add word">, it clearly doesn't tear you apart<br />
Anymore, ooooohh<br />
Anymore, ooooohh<br />
Anymore, ooooohh<br />
Anymore, anymore</p>

<p>Hello <input type="text" data-answer="from" placeholder="Add word"> the other side<br />
I must've called a thousand times<br />
To tell you I'm sorry for <input type="text" data-answer="everything" placeholder="Add word"> that I've done<br />
But when I call you never seem to be home</p>

<p>Hello from the outside<br />
At <input type="text" data-answer="least" placeholder="Add word"> I can say that I've tried<br />
To tell you I'm sorry for breaking your heart<br />
But it don't matter, it clearly doesn't <input type="text" data-answer="tear" placeholder="Add word"> you apart<br />
Anymore</p>
