<p>Yeah, this album is dedicated to all the <input type="text" data-answer="teachers" placeholder="Add word"><br />
That told me I'd never amount to nothin'<br />
To all the people that lived above the buildings that I was hustlin'<br />
In front of that called the <input type="text" data-answer="police" placeholder="Add word"> on me when I was just tryin'<br />
To make some money to feed my daughter<br />
To all my peoples in the struggle, you know what I'm sayin'?<br />
It's all good baby, baby, check it</p>

<p>It was all a <input type="text" data-answer="dream" placeholder="Add word">, I used to read Word Up magazine<br />
Salt 'n' Pepa and Heavy D up in the limousine<br />
Hangin' pictures on my wall<br />
Every <input type="text" data-answer="saturday" placeholder="Add word"> Rap Attack, Mr. Magic, Marley Marl</p>

<p>I let my tape rock 'til my tape popped<br />
Smokin' weed and bamboo, sippin' on private stock<br />
Way back when I had the red and <input type="text" data-answer="black" placeholder="Add word"> lumberjack<br />
With the hat to match</p>

<p>Remember Rappin' Duke? Duh-ha, duh-ha<br />
You never <input type="text" data-answer="thought" placeholder="Add word"> that hip hop would take it this far<br />
Now I'm in the limelight 'cause I rhyme tight<br />
Time to get paid, blow up like the World Trade</p>

<p>Born sinner, the opposite of a winner<br />
<input type="text" data-answer="remember" placeholder="Add word"> when I used to eat sardines for dinner<br />
Peace to Ron G, Brucey B, Kid Capri<br />
Funkmaster Flex, Lovebug Starsky</p>

<p>I'm blowin' up like you thought I would<br />
Call the crib, same <input type="text" data-answer="number" placeholder="Add word"> same hood, it's all good<br />
And if you don't know, now you know, you know</p>

<p>You know very well who you are<br />
Don't let 'em hold you down, reach for the <input type="text" data-answer="stars" placeholder="Add word"><br />
You had a goal, but not that many<br />
'Cause you're the only one, I'll give you good and plenty</p>

<p>I <input type="text" data-answer="made" placeholder="Add word"> the change from a common thief<br />
To up close and personal with Robin Leach<br />
And I'm far from cheap, I smoke skunk with my peeps all day<br />
<input type="text" data-answer="spread" placeholder="Add word"> love, it's the Brooklyn way</p>

<p>The Moet and Alize keep me pissy, girls used to diss me<br />
Now they write letters 'cause they miss me<br />
I never thought it could <input type="text" data-answer="happen" placeholder="Add word">, this rappin' stuff<br />
I was too used to packin' ***s and stuff</p>

<p>Now honies play me <input type="text" data-answer="close" placeholder="Add word"> like butter played toast<br />
From the Mississippi down to the East Coast<br />
Condos in Queens, indo for weeks<br />
Sold out seats to hear Biggie Smalls speak</p>

<p>Livin' life without fear<br />
Puttin' 5 karats in my baby girl's <input type="text" data-answer="ear" placeholder="Add word"><br />
Lunches, brunches, interviews by the pool<br />
Considered a fool 'cause I dropped out of high school</p>

<p>Stereotypes of a black male misunderstood<br />
And it's <input type="text" data-answer="still" placeholder="Add word"> all good<br />
And if you don't know, now you know, you know</p>

<p>You know very well who you are<br />
Don't let 'em hold you down, reach for the stars<br />
You had a <input type="text" data-answer="goal" placeholder="Add word">, but not that many<br />
'Cause you're the only one, I'll give you good and plenty</p>

<p>Super Nintendo, Sega Genesis<br />
When I was dead <input type="text" data-answer="broke" placeholder="Add word">, man I couldn't picture this<br />
50 inch screen, money green leather sofa<br />
Got two rides, a limousine with a chauffeur</p>

<p>Phone bill <input type="text" data-answer="about" placeholder="Add word"> two G's flat<br />
No need to worry, my accountant handles that<br />
And my whole crew is loungin'<br />
Celebratin' every day, no more <input type="text" data-answer="public" placeholder="Add word"> housin'</p>

<p>Thinkin' back on my one-room shack<br />
Now my mom pimps a Ac' with minks on her back<br />
And she loves to <input type="text" data-answer="show" placeholder="Add word"> me off, of course<br />
Smiles every time my face is up in The Source</p>

<p>We used to fuss when the landlord dissed us<br />
No heat, wonder why Christmas missed us<br />
<input type="text" data-answer="birthdays" placeholder="Add word"> was the worst days<br />
Now we sip champagne when we thirsty</p>

<p>Damn right I <input type="text" data-answer="like" placeholder="Add word"> the life I live<br />
'Cause I went from negative to positive<br />
And it's all, it's all good<br />
And if you don't <input type="text" data-answer="know" placeholder="Add word">, now you know, you know</p>

<p>You know very well who you are<br />
Don't <input type="text" data-answer="let" placeholder="Add word"> 'em hold you down, reach for the stars<br />
(And if you don't know, now you know, you know)<br />
You had a goal, but not that many<br />
'Cause you're the only one, I'll give you <input type="text" data-answer="good" placeholder="Add word">and plenty<br />
(And if you don't know, now you know)</p>

<p>Representin' B-Town in the <input type="text" data-answer="house" placeholder="Add word"><br />
(Biggie Smalls)<br />
Junior Mafia, Mad Flavor, uh, uh<br />
(Bad Boy, I see you Gooch, yeah)<br />
Aight, yeah<br />
(Junior Mafia)</p>

