<p>Miami me lo confirmo<br />
Gente de zona!<br />
Puerto Rico me lo regaló<br />
Dominicana ya repicó<br />
Y del caribe somos tú y <input type="text" data-answer="you" placeholder="ingrese la palabra"></p>

<p>Y se formó la gozadera, Miami me lo confirmo<br />
Y el arroz con habichuela, Puerto Rico me lo regaló<br />
Y la tambora merenguera, Dominicana ya repicó<br />
Con México, Colombia y Venezuela y del caribe <input type="text" data-answer="somos" placeholder="ingrese la palabra"> tú y yo<br />
Repicando!</p>

<p>La cosa esta bien dura, la <input type="text" data-answer="cosa" placeholder="ingrese la palabra"> esta divina<br />
Perú con Hondura, Chile con Argentina<br />
Panamá trae la zandunga, Ecuador Bilirrubina<br />
Y Uruguay con Paraguay, hermano con Costa Rica</p>

<p>Bolivia viene llegando, Brasil ya esta en camino<br />
El <input type="text" data-answer="mundo" placeholder="ingrese la palabra"> se esta sumando, a la gente de los latinos</p>

<p>Y se formó la gozadera, Miami me lo confirmo<br />
Y el arroz con habichuela, Puerto Rico me lo regaló<br />
Y la tambora merenguera, Dominicana ya repicó<br />
<input type="text" data-answer="con" placeholder="ingrese la palabra"> México, Colombia y Venezuela y del caribe somos tú y yo</p>

<p>Y se formó la gozadera, Miami me lo confirmo<br />
Ay el arroz con habichuela, Puerto Rico <input type="text" data-answer="me" placeholder="ingrese la palabra"> lo regaló<br />
Y la tambora merenguera, Dominicana ya repicó<br />
Con México, Colombia y Venezuela y del caribe somos tú y yo</p>

<p>Vamos Guatemala, la <input type="text" data-answer="fiesta" placeholder="ingrese la palabra"> te espera<br />
Llama a Nicaragua, El Salvador se cuela<br />
Loqueando desde Cuba y el mundo se entera<br />
Si tú eres Latino, <input type="text" data-answer="saca" placeholder="ingrese la palabra"> tu bandera</p>

<p>Y se formó la gozadera, Miami me lo confirmo<br />
Y el arroz con habichuela, Puerto Rico me lo regaló<br />
Y la tambora merenguera, Dominicana <input type="text" data-answer="ya" placeholder="ingrese la palabra"> repicó<br />
Con México, Colombia y Venezuela y del caribe somos tú y yo</p>

<p>Y se formó la gozadera, Miami me <input type="text" data-answer="lo" placeholder="ingrese la palabra"> confirmo<br />
Ay el arroz con habichuela, Puerto Rico me lo regaló<br />
Y la tambora merenguera, Dominicana ya repicó<br />
Con México, Colombia y Venezuela y del <input type="text" data-answer="caribe" placeholder="ingrese la palabra"> somos tú y yo</p>

<p>Pa los parceros y las parceras<br />
Que la que hay papa?<br />
Ahora si! <input type="text" data-answer="nadie" placeholder="ingrese la palabra"> nos baja de aquí<br />
Ponle ahí</p>
