<p align = "center">

  <br />
  Por que no <input type="text" id = "txtbox" data-answer="supiste" placeholder="ingrese la palabra">entender a mi corazon
  <br />
  ​
  <br />
  Lo que habia en el por que no, tuviste el valor de ver <input type="text" id = "txtbox" data-answer="quien" placeholder="ingrese la palabra">soy
  <br />

  <br />
  Por que no escuchas lo que esta tan cerca de ti
  <br />

  <br />
  Solo el <input type="text" id = "txtbox" data-answer="ruido" placeholder="ingrese la palabra">de afuera y yo
  <br />

  <br />
  Estoy a un lado desaparezco para ti <br />
  <br />

  <br />
  ​
  <br />
  No voy a llorar y decir
  <br />

  <br />
  Que no merezco esto
  <br />

  <br />
  Por que
  <br />

  <br />
  Es <input type="text" id = "txtbox" data-answer="probable" placeholder="ingrese la palabra">que
  <br />

  <br />
  Lo merezco, pero no lo quiero por eso me voy
  <br />
    <br />
  <br />

  <br />
  Que <input type="text" id = "txtbox" data-answer="l&aacute;stima" placeholder="ingrese la palabra">pero adi&oacute;s
  <br />
  <br />
  Me despido de ti y me voy
  <br />

  <br />
  Que l&aacute;stima pero adios
  <br />

  <br />
  Me <input type="text"	id = "txtbox" data-answer="despido" placeholder="ingrese la palabra">de ti y me voy
  <br />
  <br />
  <br />

  <br />
  Por que se que me espera algo mejor
  <br />

  <br />
  Alguien que sepa darme amor
  <br />
  <br />
  De ese que <input type="text" id = "txtbox" data-answer="endulza" placeholder="ingrese la palabra">la sal
  <br />
  <br />
  Y hace que salga el sol
  <br />
  <br />
  <br />

  <br />
  Yo pense que <input type="text" id = "txtbox" data-answer="nunca" placeholder="ingrese la palabra">me ir&iacute;a de ti
  <br />

  <br />
  Que es amor del bueno de toda la vida
  <br />

  <br />
  Pero hoy entendi que no hay <input type="text" id = "txtbox" data-answer="suficiente" placeholder="ingrese la palabra">para los dos
  <br />
  <br />
  <br />

  <br />
  No voy a llorar y decir
  <br />

  <br />
  que no <input type="text" id = "txtbox" data-answer="merezco" placeholder="ingrese la palabra">esto
  <br />

  <br />
  Porque
  <br />

  <br />
  Es probable que
  <br />

  <br />
  Lo merezco, pero no lo quiero por eso me voy
  <br />
  <br />
  <br />

  <br />
  Que l&aacute;stima pero adi&oacute;s
  <br />

  <br />
  Me despido de ti y me voy
  <br />

  <br />
  Que l&aacute;stima pero adi&oacute;s
  <br />

  <br />Me <input type="text" id = "txtbox" data-answer="despido" placeholder="ingrese la palabra">de ti y me voy (x3)
  <br />
  <br />
  <br />

</p>
