<p>Hay mentiras en los <input type="text" data-answer="labios" placeholder="ingrese la palabra"> <br />
Hay mentiras en la piel, que dolor <br />
Hay <input type="text" data-answer="mentiras" placeholder="ingrese la palabra">, hay amantes <br />
Que por instantes de placer <br />
Ponen su vida a <input type="text" data-answer="temblar" placeholder="ingrese la palabra"> </p>

<p>Hay mentiras compasivas <br />
Hay mentiras por <input type="text" data-answer="piedad" placeholder="ingrese la palabra"> <br />
Que no quieren lastimar <br />
<input type="text" data-answer="hay" placeholder="ingrese la palabra"> mentiras que nos hieren de verdad <br />
Ay, ay, ay </p>

<p>Hay engaños que <input type="text" data-answer="por" placeholder="ingrese la palabra">  años <br />
Ocultaron la verdad <br />
Haciendo <input type="text" data-answer="mucho" placeholder="ingrese la palabra"> daño <br />
Ay, yo me voy a refugiar <br />
A la tierra de tu <input type="text" data-answer="amor" placeholder="ingrese la palabra"> (mi verdad) </p>

<p>Tú eres mi amor, mi alegría <br />
La verdad de mi <input type="text" data-answer="vida" placeholder="ingrese la palabra"> <br />
Mi bebe que me salta a los brazos de prisa <br />
Tú <input type="text" data-answer="eres" placeholder="ingrese la palabra"> mi refugio y mi verdad </p>

<p>Oye, tú eres mi <input type="text" data-answer="amor" placeholder="ingrese la palabra">, mi alegría <br />
La verdad de mi vida <br />
Mi bebe que me <input type="text" data-answer="calma" placeholder="ingrese la palabra"> el alma con risas <br />
Tú eres mi refugio y mi verdad </p>

<p>Hay mentira en la <input type="text" data-answer="mirada" placeholder="ingrese la palabra"> <br />
Hay mentiras en la piel, dibujadas <br />
Hay mentiras, hay <input type="text" data-answer="amantes" placeholder="ingrese la palabra"> <br />
Que por instantes de placer <br />
<input type="text" data-answer="ponen" placeholder="ingrese la palabra"> su vida a temblar </p>

<p>Hay doctrinas y oradores <br />
Dictadores sin piedad <br />
Que <input type="text" data-answer="gobiernan" placeholder="ingrese la palabra"> sin verdad <br />
Y hay mentiras en los diarios, en las redes <br />
Y en el <input type="text" data-answer="mar" placeholder="ingrese la palabra">, ay ay ay </p>

<p>Hay engaños que por años <br />
<input type="text" data-answer="ocultaron" placeholder="ingrese la palabra"> la verdad <br />
Hiriendo de dolor <br />
Ay, yo me voy a <input type="text" data-answer="refugiar" placeholder="ingrese la palabra"> <br />
Al oasis de tu amor </p>

<p>Tú eres mi amor, mi alegría <br />
La verdad de mi <input type="text" data-answer="vida" placeholder="ingrese la palabra"> <br />
Mi bebe que me salta a los <input type="text" data-answer="brazos" placeholder="ingrese la palabra"> de prisa <br />
Tú eres mi refugio y mi verdad </p>

<p>Oye, tú eres mi amor, mi alegría <br />
La verdad de mi vida <br />
Mi <input type="text" data-answer="bebe" placeholder="ingrese la palabra"> que me calma el alma con risas <br />
Tú eres mi refugio y mi verdad </p>

<p>En un <input type="text" data-answer="mundo" placeholder="ingrese la palabra"> tan irreal <br />
No sé qué creer <br />
Y amor sé que tú eres mi verdad, eres mi verdad <br />
Tú eres la luz de mi vida <br />
Tú eres la voz que me <input type="text" data-answer="calma" placeholder="ingrese la palabra"> <br />
Tú eres la lluvia de mi alma <br />
Y eres <input type="text" data-answer="toda" placeholder="ingrese la palabra"> mi verdad <br />
Tú eres la luz de mi vida <br />
Tú eres la <input type="text" data-answer="voz" placeholder="ingrese la palabra"> que me calma <br />
Tú eres la lluvia de mi alma <br />
Y eres toda mi verdad <br />
Eres toda mi verdad</p>
