<p>Hola, me llaman Romeo,<br />
Es un placer conocerla.</p>

<p>Que <input type="text" data-answer="bien" placeholder="Add word"> te ves,<br />
Te adelanto, no me importa quién sea él.<br />
Dígame usted,<br />
Si ha hecho algo travieso <input type="text" data-answer="alguna" placeholder="Add word"> vez.</p>

<p>Una aventura es más divertida<br />
Si huele a <input type="text" data-answer="peligro" placeholder="Add word">.</p>

<p>Si te invito a una copa<br />
Y me <input type="text" data-answer="acerco" placeholder="Add word"> tu boca.<br />
Si te robo un besito,<br />
A ver, ¿te enojas conmigo?</p>

<p>¿Qué dirías si esta noche<br />
Te seduzco en mi <input type="text" data-answer="coche" placeholder="Add word">?<br />
Que se empañen los vidrios<br />
Y la regla es que goces.</p>

<p>Si te falto el <input type="text" data-answer="respeto" placeholder="Add word"><br />
y luego culpo al alcohol.<br />
Si levanto tu falda,<br />
¿Me darías el <input type="text" data-answer="derecho" placeholder="Add word"><br />
A medir tu sensatez?</p>

<p>Poner en juego tu cuerpo,<br />
Si te parece prudente,<br />
Esta <input type="text" data-answer="propuesta" placeholder="Add word"> indecente.</p>

<p>A ver, a ver,<br />
Permíteme apreciar tu desnudez.<br />
(Take it off)<br />
Relájate,<br />
Que este Martini calmará tu <input type="text" data-answer="timidez" placeholder="Add word"><br />
(Don't be shy).</p>

<p>Y una aventura es más divertida<br />
Si <input type="text" data-answer="huele" placeholder="Add word"> a peligro.</p>

<p>Si te invito a una copa<br />
Y me acerco a tu <input type="text" data-answer="boca" placeholder="Add word">.<br />
Si te robo un besito,<br />
A ver, ¿te enojas conmigo?</p>

<p>¿Qué dirías si esta noche<br />
Te seduzco en mi coche?<br />
Que se empañen los vidrios<br />
Y la <input type="text" data-answer="regla" placeholder="Add word"> es que goces.</p>

<p>Si te <input type="text" data-answer="falto" placeholder="Add word"> el respeto<br />
y luego culpo al alcohol.<br />
Si levanto tu falda,<br />
¿Me darías el derecho<br />
A <input type="text" data-answer="medir" placeholder="Add word"> tu sensatez?</p>

<p>Poner en juego tu cuerpo,<br />
Si te parece prudente,<br />
Esta propuesta <input type="text" data-answer="indecente" placeholder="Add word">.</p>

<p>I'm back.<br />
It feels good to be king.<br />
Gostoso.</p>

<p>Hey,<br />
Listen,<br />
I know what you like.</p>

<p>How bout if you and I<br />
Me and you<br />
¿Bailamos <input type="text" data-answer="bachata" placeholder="Add word">?<br />
Y luego you and I<br />
Me and you<br />
¿Terminamo' en la <input type="text" data-answer="cama" placeholder="Add word">?<br />
(Que rico).</p>

<p>How bout if you and I<br />
Me and you<br />
¿Bailamos bachata?<br />
(Ay bailamos bachata)<br />
Y <input type="text" data-answer="luego" placeholder="Add word"> you and I<br />
Me and you<br />
¿Terminamo' en la cama?<br />
(Terminamos en la cama).</p>

<p>How bout if you and I (You and I)<br />
Me and you (Me and you)<br />
You and I (You and I)<br />
Me and you (You)<br />
You and I (You and I)<br />
Me and you<br />
(I'm a badboy)<br />
Me and you (You...).</p>

<p>(Ay chi chi<br />
Llora guitarra<br />
Llora).</p>
