<p>Siempre que te pregunto<br />
Qué, <input type="text" data-answer="cuando" placeholder="ingrese la palabra">, cómo y dónde<br />
Tú <input type="text" data-answer="siempre" placeholder="ingrese la palabra"> me respondes<br />
Quizás, quizás, quizás</p>

<p>Y así <input type="text" data-answer="pasan" placeholder="ingrese la palabra"> los días<br />
Y yo, desesperando<br />
Y tú, tú <input type="text" data-answer="contestando" placeholder="ingrese la palabra"> .<br />
Quizás, quizás, quizás</p>

<p>Estás perdiendo el <input type="text" data-answer="tiempo" placeholder="ingrese la palabra"><br />
Pensando, pensando<br />
Por lo <input type="text" data-answer="que" placeholder="ingrese la palabra"> más tú quieras<br />
¿Hasta cuándo? ¿Hasta cuándo?</p>

<p>Y así pasan <input type="text" data-answer="los" placeholder="ingrese la palabra"> días<br />
Y yo, desesperando<br />
Y tú, tú contestando<br />
Quizás, quizás, quizás.</p>

<p>Y así <input type="text" data-answer="pasan" placeholder="ingrese la palabra"> los días<br />
Y yo, desesperando<br />
Y tú, tú contestando<br />
Quizás, quizás, quizás</p>

<p>Estás <input type="text" data-answer="perdiendo" placeholder="ingrese la palabra"> el tiempo<br />
Pensando, pensando<br />
Por lo que más tú <input type="text" data-answer="quieras" placeholder="ingrese la palabra"><br />
¿Hasta cuándo? ¿Hasta cuándo?</p>

<p>Y así pasan los días<br />
Y <input type="text" data-answer="yo" placeholder="ingrese la palabra">, desesperando<br />
Y <input type="text" data-answer="tu" placeholder="ingrese la palabra">, tú contestando<br />
Quizás, quizás, quizás<br />
Quizás, quizás, quizás<br />
Quizás, quizás, quizás...</p>
