<p>I used to bite my <input type="text" data-answer="tongue" placeholder="Add word"> and hold my breath<br />
Scared to rock the boat and make a mess<br />
So I sat quietly, agreed politely<br />
I guess that I forgot I had a <input type="text" data-answer="choice" placeholder="Add word"><br />
I let you push me past the breaking point<br />
I stood for nothing, so I fell for everything</p>

<p>You held me down, but I got up (hey!)<br />
Already brushing off the dust<br />
You hear my voice, your hear that <input type="text" data-answer="sound" placeholder="Add word"><br /><br />
Like thunder, gonna shake your ground<br />
You held me down, but I got up<br />
Get <input type="text" data-answer="ready" placeholder="Add word">  'cause I've had enough<br />
I see it all, I see it now</p>

<p>I got the eye of the tiger, a fighter<br />
Dancing through the <input type="text" data-answer="fire" placeholder="Add word"><br />
'Cause I am the champion, and you're gonna hear me roar<br />
Louder, louder than a lion<br />
'Cause I am a <input type="text" data-answer="champion" placeholder="Add word">, and you're gonna hear me roar!</p>

<p>Oh oh oh oh oh oh oh oh<br />
Oh oh oh oh oh oh oh oh<br />
Oh oh oh oh oh oh oh oh<br />
You're gonna hear me roar!</p>

<p>Now I'm floating like a butterfly<br />
Stinging like a bee I earned my stripes<br />
I went from zero, to my own <input type="text" data-answer="hero" placeholder="Add word"></p>

<p>You held me down, but I got up (hey!)<br />
Already brushing off the dust<br />
You hear my voice, your hear that sound<br />
Like thunder, gonna shake the ground<br />
You held me <input type="text" data-answer="down" placeholder="Add word">, but I got up<br />
Get ready 'cause I've had enough<br />
I see it all, I see it now</p>

<p>I got the eye of the <input type="text" data-answer="tiger" placeholder="Add word">, a fighter<br />
Dancing through the fire<br />
'Cause I am the champion, and you're gonna hear me roar<br />
Louder, louder than a <input type="text" data-answer="lion" placeholder="Add word"><br />
'Cause I am a champion, and you're gonna hear me roar!</p>

<p>Oh oh oh oh oh oh oh oh<br />
Oh oh oh oh oh oh oh oh<br />
Oh oh oh oh oh oh oh oh<br />
You're gonna hear me roar!</p>

<p>Oh oh oh oh oh oh oh oh<br />
Oh oh oh oh oh oh oh oh<br />
Oh oh oh oh oh oh oh oh<br />
You're gonna hear me <input type="text" data-answer="roar" placeholder="Add word">!</p>

<p>Roar, roar, roar, roar, roar!</p>

<p>I got the eye of the tiger, a fighter<br />
<input type="text" data-answer="Dancing" placeholder="Add word"> through the fire<br />
'Cause I am the champion, and you're gonna hear me roar<br />
Louder, louder than a lion<br />
'Cause I am a champion, and you're gonna hear me roar!</p>

<p>Oh oh oh oh oh oh oh oh<br />
Oh oh oh oh oh oh oh oh<br />
Oh oh oh oh oh oh oh oh<br />
You're gonna hear me roar!</p>

<p>Oh oh oh oh oh oh oh oh<br />
Oh oh oh oh oh oh oh oh<br />
Oh oh oh oh oh oh oh oh<br />
You're gonna hear me roar!<br />
</p>
