<p>Saturday morning jumped out of bed and put on my best suit<br />
Got in my car and <input type="text" data-answer="raced" placeholder="Add word"> like a jet, all the way to you<br />
Knocked on your door with heart in my hand<br />
To ask you a question<br />
'Cause I know that you're an old <input type="text" data-answer="fashioned" placeholder="Add word"> man yeah yeah</p>

<p>'Can I have your daughter for the rest of my life? Say yes, say yes<br />
'Cause I need to <input type="text" data-answer="know" placeholder="Add word"><br />
You say I'll never get your blessing till the day I die<br />
Tough luck my friend but the answer is no!</p>

<p>Why you gotta be so <input type="text" data-answer="rude" placeholder="Add word">?<br />
Don't you know I'm human too<br />
Why you gotta be so rude<br />
I'm gonna <input type="text" data-answer="marry" placeholder="Add word"> her anyway<br />
Marry that girl<br />
Marry her anyway<br />
Marry that girl<br />
Yeah no <input type="text" data-answer="matter" placeholder="Add word"> what you say<br />
Marry that girl<br />
And we'll be a family</p>

<p>Why you gotta be so rude</p>

<p>I hate to do this, you leave no choice<br />
Can't live without her<br />
Love me or hate me we will be <input type="text" data-answer="both" placeholder="Add word"><br />
Standing at that altar<br />
Or we will run away<br />
To another galaxy you know<br />
You know she's in love with me<br />
She will go <input type="text" data-answer="anywhere" placeholder="Add word"> I go</p>

<p>Can I have your daughter for the rest of my life? Say yes, say yes<br />
'Cause I need to know<br />
You say I'll never get your <input type="text" data-answer="blessing" placeholder="Add word"> till the day I die<br />
Tough luck my friend cause the answer's still no!</p>

<p>Why you gotta be so rude?<br />
Don't you know I'm human too<br />
Why you gotta be so rude<br />
I'm <input type="text" data-answer="gonna" placeholder="Add word"> marry her anyway<br />
Marry that girl<br />
Marry her anyway<br />
Marry that girl<br />
No matter what you say<br />
Marry that girl<br />
And we'll be a family</p>

<p>Why you gotta be so rude?</p>

<p>Can I have your <input type="text" data-answer="daughter" placeholder="Add word"> for the rest of my life? Say yes, say yes<br />
'Cause I need to know<br />
You say I'll never get your blessing till the day I die<br />
Tough <input type="text" data-answer="luck" placeholder="Add word"> my friend but no still means no!</p>

<p>Why you gotta be so rude?<br />
Don't you know I'm human too<br />
Why you gotta be so rude<br />
I'm gonna marry her anyway<br />
Marry that girl<br />
Marry her <input type="text" data-answer="anyway" placeholder="Add word"><br />
Marry that girl<br />
No matter what you say<br />
Marry that girl<br />
And we'll be a family</p>

<p>Why you gotta be so rude?<br />
Why you gotta be so rude?<br />
Why you gotta be so rude?</p>
