<p>I stay up too late, got <input type="text" data-answer="nothing" placeholder="add word"> in my brain<br />
That's what people say mmm, that's what people say mm<br />
I go on too many <input type="text" data-answer="dates" placeholder="add word">, but I can't make 'em stay<br />
At least that's what people say mmm, that's what people say mmm</p>

<p>But I keep cruising, can't stop, won't stop <input type="text" data-answer="moving" placeholder="add word"><br />
It's like I got this music in my <input type="text" data-answer="mind" placeholder="add word"> and it's gonna be alright</p>

<p>'Cause the <input type="text" data-answer="players" placeholder="add word"> gonna play, play, play, play, play<br />
And the haters gonna hate, hate, hate, hate, hate<br />
Baby, I'm <input type="text" data-answer="just" placeholder="add word"> gonna shake, shake, shake, shake, shake<br />
I <input type="text" data-answer="shake" placeholder="add word"> it off, I shake it off<br />
Heartbreakers gonna break, break, break, break, break<br />
And the fakers gonna fake, fake, fake, fake, fake<br />
Baby, I'm just gonna shake, shake, shake, shake, shake<br />
I shake it off, I shake it off</p>

<p>I'll <input type="text" data-answer="never" placeholder="add word"> miss a beat, I'm lightning on my feet<br />
And that's what they don't see mmm, that's what <input type="text" data-answer="they" placeholder="add word"> don't see mmm<br />
I'm <input type="text" data-answer="dancing" placeholder="add word"> on my own (dancing on my own), I'll make the moves up as I go (moves up as I go)<br />
And that's what they don't <input type="text" data-answer="know" placeholder="add word"> mmm, that's what they don't know mmm</p>

<p>But I keep cruising, can't stop, won't stop grooving<br />
It's <input type="text" data-answer="like" placeholder="add word"> I got this music in my mind saying it's gonna be alright</p>

<p>'Cause the players gonna play, play, play, play, play<br />
And the haters gonna <input type="text" data-answer="hate" placeholder="add word">, hate, hate, hate, hate<br />
Baby, I'm just gonna shake, shake, shake, shake, shake<br />
I shake it off, I shake it off<br />
Heartbreakers gonna break, break, break, break, break<br />
And the fakers gonna fake, fake, fake, fake, fake<br />
Baby, I'm just gonna shake, shake, shake, shake, shake<br />
I shake it off, I shake it off</p>

<p>I, I shake it off, I shake it off<br />
I, I shake it off, I shake it off<br />
I, I shake it off, I shake it off<br />
I, I shake it off, I shake it off</p>

<p>Hey, hey, hey, just <input type="text" data-answer="think" placeholder="add word"> while you've been getting down and out about the liars and dirty, dirty cheats in the <input type="text" data-answer="world" placeholder="add word"> you could have been getting down to this sick beat</p>

<p>My ex-man brought his new <input type="text" data-answer="girlfriend" placeholder="add word"><br />
She's like "oh my God", but I'm just gonna shake it<br />
And to the fella over there with the hella good <input type="text" data-answer="hair" placeholder="add word"><br />
Won't you come on over, baby, we can shake, shake, shake</p>

<p>'Cause the <input type="text" data-answer="players" placeholder="add word"> gonna play, play, play, play, play<br />
And the haters gonna hate, hate, hate, hate, hate<br />
<input type="text" data-answer="baby" placeholder="add word">, I'm just gonna shake, shake, shake, shake, shake<br />
I shake it off, I shake it off<br />
Heartbreakers gonna break, <input type="text" data-answer="break" placeholder="add word">, break, break, break<br />
And the fakers gonna fake, fake, fake, fake, fake<br />
Baby, I'm just gonna shake, shake, shake, shake, shake<br />
I shake it off, I shake <input type="text" data-answer="it" placeholder="add word"> off</p>

<p>I, I shake it off, I shake it off<br />
I, I shake it off, I shake it off<br />
I, I <input type="text" data-answer="shake" placeholder="add word"> it off, I shake it off<br />
I, I shake it off, I shake it off<br />
I shake it off, I shake it off<br />
I, I shake it off, I shake it off<br />
I, I shake it off, I shake it off<br />
I, I shake it off, I <input type="text" data-answer="shake" placeholder="add word"> it off</p>
