<p>Now and then I think of when we were together<br />
Like when you <input type="text" data-answer="said" placeholder="add word"> you felt so happy you could die<br />
Told myself that you were right for me<br />
But felt so lonely in your company<br />
But that was love and it's an ache I still <input type="text" data-answer="remember" placeholder="add word"></p>

<p>You can get addicted to a certain kind of sadness<br />
Like resignation to the end, always the <input type="text" data-answer="end" placeholder="add word"><br />
So when we found that we could not make sense<br />
Well you said that we would still be <input type="text" data-answer="friends" placeholder="add word"><br />
But I'll admit that I was glad it was over</p>

<p>But you didn't <input type="text" data-answer="have" placeholder="add word"> to cut me off<br />
Make out like it never happened and that we were nothing<br />
And I don't even need your <input type="text" data-answer="love" placeholder="add word"><br />
But you treat me like a stranger and that feels so rough<br />
No you didn't have to stoop so low<br />
Have your friends collect your records and then change your <input type="text" data-answer="number" placeholder="add word"><br />
I guess that I don't need that though<br />
Now you're just <input type="text" data-answer="somebody" placeholder="add word"> that I used to know</p>

<p>Now you're just somebody that I used to <input type="text" data-answer="know" placeholder="add word"><br />
Now you're just somebody that I used to know</p>

<p>[Kimbra]<br />
Now and then I think of all the times you screwed me over<br />
But had me believing it was <input type="text" data-answer="always" placeholder="add word"> something that I'd done<br />
But I don't wanna live that way<br />
Reading into every <input type="text" data-answer="word" placeholder="add word"> you say<br />
You said that you could let it go<br />
And I wouldn't catch you hung up on somebody that <input type="text" data-answer="you" placeholder="add word"> used to know</p>

<p>[Gotye]<br />
But you didn't have to cut me off<br />
Make out like it never happened and that we were <input type="text" data-answer="nothing" placeholder="add word"><br />
And I don't even need your love<br />
But you treat me like a stranger and that <input type="text" data-answer="feels" placeholder="add word">  so rough<br />
And you didn't have to stoop so low<br />
Have your friends collect your records and then change your number<br />
I guess that I don't need that though<br />
<input type="text" data-answer="now" placeholder="add word"> you're just somebody that I used to know</p>

<p>Somebody<br />
(I <input type="text" data-answer="used" placeholder="add word"> to know)<br />
Somebody<br />
(Now you're just somebody that I used to know)</p>

<p>(I used to know)<br />
(That I used to know)<br />
(I used to know)<br />
<input type="text" data-answer="somebody" placeholder="add word"><br />
</p>
