<p>I <input type="text" data-answer="heard" placeholder="add word"> that you're settled down<br />
That you found a <input type="text" data-answer="girl" placeholder="add word"> and you're married now<br />
I heard that your dreams came true<br />
Guess she gave you things I didn't <input type="text" data-answer="give" placeholder="add word"> to you</p>

<p>Old <input type="text" data-answer="friend" placeholder="add word">, why are you so shy?<br />
Ain't like you to hold back or hide from the light</p>

<p>I hate to turn up out of the blue, uninvited<br />
But I couldn't stay away, I couldn't <input type="text" data-answer="fight" placeholder="add word"> it<br />
I had hoped you'd see my face and that you'd be reminded<br />
That for me, it isn't <input type="text" data-answer="over" placeholder="add word"></p>

<p>Never mind, I'll find someone <input type="text" data-answer="like" placeholder="add word"> you<br />
I wish nothing but the best for you, too<br />
Don't <input type="text" data-answer="forget" placeholder="add word"> me, I beg, I remember you said<br />
Sometimes it lasts in love, but sometimes it hurts instead<br />
<input type="text" data-answer="sometimes" placeholder="add word"> it lasts in love, but sometimes it hurts instead</p>

<p>You know how the time flies<br />
Only <input type="text" data-answer="yesterday" placeholder="add word"> was the time of our lives<br />
We were born and raised in a summer haze<br />
Bound by the surprise of <input type="text" data-answer="our" placeholder="add word"> glory days</p>

<p>I hate to turn up out of the blue, uninvited<br />
But I couldn't stay away, I couldn't <input type="text" data-answer="fight" placeholder="add word"> it<br />
I had hoped you'd see my <input type="text" data-answer="face" placeholder="add word"> and that you'd be reminded<br />
That for me, it isn't over</p>

<p>Never mind, I'll find someone like you<br />
I wish nothing but the <input type="text" data-answer="best" placeholder="add word"> for you, too<br />
Don't forget me, I beg, I <input type="text" data-answer="remember" placeholder="add word"> you said<br />
Sometimes it lasts in love, but sometimes it hurts instead, yeah</p>

<p>Nothing compares, no worries or cares<br />
Regrets and mistakes, they're memories made<br />
<input type="text" data-answer="who" placeholder="add word"> would have known how bittersweet this would taste?</p>

<p>Never mind, I'll find someone like you<br />
I wish <input type="text" data-answer="nothing" placeholder="add word"> but the best for you<br />
Don't forget me, I beg, I remember you said<br />
Sometimes it lasts in <input type="text" data-answer="love" placeholder="add word">, but sometimes it hurts instead</p>

<p>Never mind, I'll find <input type="text" data-answer="someone" placeholder="add word"> like you<br />
I wish nothing but the best for you, too<br />
Don't <input type="text" data-answer="forget" placeholder="add word"> me, I beg, I remember you said<br />
Sometimes it lasts in <input type="text" data-answer="love" placeholder="add word">, but sometimes it hurts instead<br />
Sometimes it lasts in love, but sometimes it hurts instead</p>
