<p>Ooh, ooh<br />
Ooh, ooh<br />
You gotta go and get <input type="text" data-answer="angry" placeholder="Add word"> at all of my honesty<br />
You know I try but I don't do too well with apologies<br />
I hope I don't run out of time, could someone call a referee?<br />
'Cause I just need one more shot at forgiveness<br />
I know you know that I made those mistakes maybe once or twice<br />
By once or twice I mean <input type="text" data-answer="maybe" placeholder="Add word"> a couple a hundred times<br />
So let me, oh let me redeem, oh redeem, oh myself tonight<br />
'Cause I just need one more shot at second chances</p>

<p>Yeah, is it too late now to say sorry?<br />
'Cause I'm missing more than just your <input type="text" data-answer="body" placeholder="Add word"><br />
Oh, is it too late now to say sorry?<br />
Yeah I know that I let you down<br />
Is it too late to say I'm sorry now?</p>

<p>Ooh, ooh<br />
I'm sorry, yeah<br />
Ooh, ooh<br />
Sorry, yeah<br />
Ooh, ooh<br />
Sorry<br />
Yeah I <input type="text" data-answer="know" placeholder="Add word"> that I let you down<br />
Is it too late to say I'm sorry now?<br />
Ooh, ooh</p>

<p>I'll take every single piece of the blame if you want me to<br />
But you know that there is no innocent one in this <input type="text" data-answer="game" placeholder="Add word"> for two<br />
I'll go, I'll go and then you go, you go out and spill the truth<br />
Can we both say the words and forget this?</p>

<p>Yeah, is it too late now to say sorry?<br />
'Cause I'm missing more than just your body<br />
Oh, is it too late now to say sorry?<br />
Yeah I know that I let you down<br />
Is it too late to say I'm <input type="text" data-answer="sorry" placeholder="Add word"> now?</p>

<p>I'm not just trying to get you back on me<br />
'Cause I'm missing more than just your body<br />
Is it too <input type="text" data-answer="late" placeholder="Add word"> now to say sorry?<br />
Yeah I know that I let you down<br />
Is it too late to say I'm sorry now?</p>

<p>Ooh, ooh<br />
I'm sorry, yeah<br />
Ooh, ooh<br />
<input type="text" data-answer="sorry" placeholder="Add word">, yeah<br />
Ooh, ooh<br />
Sorry<br />
Yeah I know that I let you down<br />
Is it too late to say I'm sorry now?<br />
Ooh, ooh<br />
I'm sorry, yeah<br />
Ooh, ooh<br />
Sorry, yeah<br />
Ooh, ooh<br />
Sorry<br />
Yeah I know that I let you <input type="text" data-answer="down" placeholder="Add word"><br />
Is it too late to say I'm sorry now?</p>
