<p>Suerte que en el sur hayas <input type="text" data-answer="nacido" placeholder="ingrese la palabra"><br />
y que burlemos las distancias<br />
suerte que es haberte <input type="text" data-answer="conocido" placeholder="ingrese la palabra"><br />
y por ti amar tierras extrañas<br />
Yo puedo escalar los Andes solo<br />
por <input type="text" data-answer="ir" placeholder="ingrese la palabra"> a contar tus lunares<br />
contigo celebro y sufro todo<br />
mis <input type="text" data-answer="alegrias" placeholder="ingrese la palabra"> y mis males</p>

<p>Le ro lo le lo le<br />
le ro lo le lo le<br />
Sabes que <input type="text" data-answer="estoy" placeholder="ingrese la palabra"> a tus pies</p>

<p>Contigo, mi <input type="text" data-answer="vida" placeholder="ingrese la palabra"><br />
quiero vivir la vida<br />
y lo que me queda de vida<br />
<input type="text" data-answer="quiero" placeholder="ingrese la palabra"> vivir contigo<br />
Contigo mi vida<br />
quiero vivir la vida<br />
y lo que me queda de vida<br />
quiero vivir contigo</p>

<p>Suerte que es tener labios sinceros<br />
para besarte con <input type="text" data-answer="mas" placeholder="ingrese la palabra">  ganas<br />
Suerte que mis pechos sean <input type="text" data-answer="pequeños" placeholder="ingrese la palabra"> <br />
y nos los confundas con montañas<br />
Suerte que herede las piernas firmes<br />
para <input type="text" data-answer="correr" placeholder="ingrese la palabra">  si un dia hace falta<br />
Y estos dos ojos que me dicen<br />
Que he de llorar <input type="text" data-answer="cuando" placeholder="ingrese la palabra"> te vallas</p>

<p>Le ro lo le lo le<br />
Le ro lo le lo le<br />
Sabes que <input type="text" data-answer="estoy" placeholder="ingrese la palabra"> a tus pies</p>

<p>Contigo, mi <input type="text" data-answer="vida" placeholder="ingrese la palabra"><br />
quiero vivir la vida<br />
y lo que me queda de vida<br />
<input type="text" data-answer="quiero" placeholder="ingrese la palabra"> vivir contigo.<br />
Contigo mi vida<br />
quiero vivir la vida<br />
y lo que me queda de vida<br />
quiero vivir <input type="text" data-answer="contigo" placeholder="ingrese la palabra">.</p>

<p>Le ro lo le lo le<br />
le ro lo le lo le<br />
Sabes que <input type="text" data-answer="estoy" placeholder="ingrese la palabra"> a tus pies</p>

<p>Le ro lo le lo le lo la<br />
La felicidad <input type="text" data-answer="tiene" placeholder="ingrese la palabra"> tu<br />
nombre y tu piel.</p>

<p>Contigo, mi <input type="text" data-answer="vida" placeholder="ingrese la palabra"><br />
Quiero vivir la vida<br />
y lo que me queda de vida<br />
<input type="text" data-answer="quiero" placeholder="ingrese la palabra"> vivir contigo.<br />
Ya sabes mi vida<br />
estoy <input type="text" data-answer="hasta" placeholder="ingrese la palabra"> el cuello por ti<br />
Si sientes algo asi<br />
Quiero que te quedes <input type="text" data-answer="junto" placeholder="ingrese la palabra"> a mi.</p>

<p>Contigo, mi <input type="text" data-answer="vida" placeholder="ingrese la palabra"><br />
Quiero vivir la vida<br />
y lo que me queda de vida<br />
<input type="text" data-answer="quiero" placeholder="ingrese la palabra"> vivir contigo.<br />
Ya sabes mi vida<br />
estoy <input type="text" data-answer="hasta" placeholder="ingrese la palabra"> el cuello por ti<br />
Si sientes algo asi<br />
Quiero que te quedes <input type="text" data-answer="junto" placeholder="ingrese la palabra"> a mi.</p>
