<p>Suerte que en el sur hayas nacido<br />
y que burlemos las distancias<br />
suerte que es haberte conocido<br />
y por ti amar tierras extrañas<br />
Yo puedo escalar los Andes solo<br />
por ir a contar tus lunares<br />
contigo celebro y sufro todo<br />
mis alegrias y mis males</p>

<p>Le ro lo le lo le<br />
le ro lo le lo le<br />
Sabes que estoy a tus pies</p>

<p>Contigo, mi vida<br />
quiero vivir la vida<br />
y lo que me queda de vida<br />
quiero vivir contigo<br />
Contigo mi vida<br />
quiero vivir la vida<br />
y lo que me queda de vida<br />
quiero vivir contigo</p>

<p>Suerte que es tener labios sinceros<br />
para besarte con mas ganas<br />
Suerte que mis pechos sean pequeños<br />
y nos los confundas con montañas<br />
Suerte que herede las piernas firmes<br />
para correr si un dia hace falta<br />
Y estos dos ojos que me dicen<br />
Que he de llorar cuando te vallas</p>

<p>Le ro lo le lo le<br />
Le ro lo le lo le<br />
Sabes que estoy a tus pies</p>

<p>Contigo, mi vida<br />
quiero vivir la vida<br />
y lo que me queda de vida<br />
quiero vivir contigo.<br />
Contigo mi vida<br />
quiero vivir la vida<br />
y lo que me queda de vida<br />
quiero vivir contigo.</p>

<p>Le ro lo le lo le<br />
le ro lo le lo le<br />
Sabes que estoy a tus pies</p>

<p>Le ro lo le lo le lo la<br />
La felicidad tiene tu<br />
nombre y tu piel.</p>

<p>Contigo, mi vida<br />
Quiero vivir la vida<br />
y lo que me queda de vida<br />
quiero vivir contigo.<br />
Ya sabes mi vida<br />
estoy hasta el cuello por ti<br />
Si sientes algo asi<br />
Quiero que te quedes junto a mi.</p>

<p>Contigo, mi vida<br />
Quiero vivir la vida<br />
y lo que me queda de vida<br />
quiero vivir contigo.<br />
Ya sabes mi vida<br />
estoy hasta el cuello por ti<br />
Si sientes algo asi<br />
Quiero que te quedes junto a mi.</p>
