<p>Farruko<br />
Nicky Jam<br />
Shaggy</p>

<p>Viendo el sol y el atardecer<br />
Sentados <input type="text" data-answer="solos" placeholder="Add word"> frente al mar<br />
Tu besándome y yo besándote<br />
Disfrutamos de un <input type="text" data-answer="momento" placeholder="Add word"> especial</p>

<p>Ay ay ay ay iah ieh iah iah iah ioh<br />
Yo quiero hacerte el amor<br />
Ay ay ay ay iah ieh iah iah iah ioh<br />
Aprovechemos que ya se escondió el <input type="text" data-answer="sol" placeholder="Add word"></p>

<p>Entremos al agua tu y yo<br />
Sin <input type="text" data-answer="ropa" placeholder="Add word"> y comámonos los dos<br />
Tu me gustas mucho y lo sabes<br />
Como tu no existe <input type="text" data-answer="nadie" placeholder="Add word"></p>

<p>Ya casi se esconde el sol<br />
Y <input type="text" data-answer="quiero" placeholder="Add word"> abrazarte mi amor<br />
Estamos entrando en calor<br />
Vamonos para el <input type="text" data-answer="agua" placeholder="Add word"> los dos</p>

<p>Me want to see you when the sun a come down<br />
Baby girl no bother walk, just run come<br />
Say rum a drink, make have fun<br />
I'll be there for you when it's all done<br />
Girl me nah lie<br />
Love how you shape the way you're design<br />
When you a bubble and your waistline<br />
You know Mr. lover lover<br />
Nah waste time.</p>

<p><input type="text" data-answer="viendo" placeholder="Add word"> el sol y el atardecer<br />
Sentados solos frente al mar<br />
Tu besándome y yo besándote<br />
<input type="text" data-answer="disfrutamos" placeholder="Add word"> de un momento especial</p>

<p>Ay ay ay ay iah ieh iah iah iah ioh<br />
Yo quiero hacerte el amor<br />
Ay ay ay ay iah ieh iah iah iah ioh<br />
Aprovechemos que ya <input type="text" data-answer="se escondió" placeholder="Add word"> el sol</p>

<p>Te gusta sentir la arena en tu <input type="text" data-answer="piel" placeholder="Add word"><br />
Cuando me toca tu y a la vez el sol cayendo<br />
Tu boquita rica <input type="text" data-answer="sabe" placeholder="Add word"> a miel<br />
Y no me puedo contener, por que el alcohol esta subiendo</p>

<p>No se tu me estas enloqueciendo<br />
La brisa acaricia tu pelo<br />
Las <input type="text" data-answer="estrellas" placeholder="Add word"> alumbran el cielo<br />
Vamos hasta el amanecer solos tu y yo</p>

<p>Viendo el sol y el atardecer<br />
Sentados solos <input type="text" data-answer="frente" placeholder="Add word"> al mar<br />
Tu besándome y yo besándote<br />
Disfrutamos de un momento <input type="text" data-answer="especial" placeholder="Add word"></p>

<p>Ay ay ay ay iah ieh iah iah iah ioh<br />
Yo quiero <input type="text" data-answer="hacerte" placeholder="Add word"> el amor<br />
Ay ay ay ay iah ieh iah iah iah ioh<br />
Aprovechemos que ya se escondió el sol</p>

<p>N I C K<br />
Nicky Nicky Nicky Jam<br />
<input type="text" data-answer="Shaggy" placeholder="Add word"><br />
Farruko<br />
Sharo Torrres<br />
From Miami<br />
This is Carbon Fiber Music</p>

<p>Read more: Farruko - Sunset Lyrics | MetroLyrics</p>
