<p>Te regalo mi cintura<br />
Y mis labios para <input type="text" data-answer="cuando" placeholder="ingrese la palabra"> quieras besar<br />
Te regalo mi locura<br />
Y las <input type="text" data-answer="pocas" placeholder="ingrese la palabra"> neuronas que quedan ya</p>

<p>Mis zapatos desteñidos<br />
El diario en el que escribo<br />
Te doy hasta mi suspiro<br />
<input type="text" data-answer="pero" placeholder="ingrese la palabra"> no te vayas mas</p>

<p>Porque eres tu mi sol<br />
La fe <input type="text" data-answer="con" placeholder="ingrese la palabra"> que vivo<br />
La potencia de mi voz<br />
Los pies con que camino<br />
<input type="text" data-answer="eres" placeholder="ingrese la palabra"> tu amor<br />
Mis ganas de reír<br />
El adiós que no sabre decir<br />
Porque <input type="text" data-answer="nunca" placeholder="ingrese la palabra"> podre vivir sin ti</p>

<p>Si algún día decidieras<br />
Alejarte nuevamente de aquí<br />
Cerraría cada puerta<br />
Para que nunca pudieras <input type="text" data-answer="salir" placeholder="ingrese la palabra"></p>

<p>Te regalo mis silencios<br />
Te <input type="text" data-answer="regalo" placeholder="ingrese la palabra"> mi nariz<br />
Yo te doy hasta mis huesos<br />
Pero quédate aquí</p>

<p>Porque <input type="text" data-answer="eres" placeholder="ingrese la palabra"> tu mi sol<br />
La fe con que vivo<br />
La potencia de mi <input type="text" data-answer="voz" placeholder="ingrese la palabra"><br />
Los pies con que camino<br />
Eres tu amor<br />
Mis ganas de reír<br />
El adiós que no sabre decir<br />
Porque nunca podre vivir sin <input type="text" data-answer="ti" placeholder="ingrese la palabra"></p>
