<p>This hit, that ice cold<br />
Michelle Pfeiffer, that white gold<br />
This one for them hood <input type="text" data-answer="girls" placeholder="Add word"><br />
Them good girls straight masterpieces<br />
Stylin', whilen, livin' it up in the <input type="text" data-answer="city" placeholder="Add word"><br />
Got Chucks on with Saint Laurent<br />
Got kiss myself, I'm so pretty</p>

<p>I'm <input type="text" data-answer="too" placeholder="Add word"> hot (hot damn)<br />
Called a police and a fireman<br />
I'm too hot (hot damn)<br />
Make a dragon wanna retire man<br />
I'm too hot (hot damn)<br />
Say my name you know <input type="text" data-answer="who" placeholder="Add word"> I am<br />
I'm too hot (hot damn)<br />
Am I bad 'bout that money, break it down</p>

<p>Girls hit your hallelujah (whoo)<br />
Girls hit your hallelujah (whoo)<br />
Girls hit your hallelujah (whoo)<br />
'Cause uptown funk gon' <input type="text" data-answer="give" placeholder="Add word"> it to you<br />
'Cause uptown funk gon' give it to you<br />
'Cause uptown funk gon' give it to you<br />
Saturday night and we in the spot<br />
Don't believe me just <input type="text" data-answer="watch" placeholder="Add word"> (come on)</p>

<p>Don't believe me just watch uh</p>

<p>Don't believe me just watch<br />
Don't <input type="text" data-answer="believe" placeholder="Add word"> me just watch<br />
Don't believe me just watch<br />
<input type="text" data-answer="don't" placeholder="Add word"> believe me just watch<br />
Hey, hey, hey, oh</p>

<p><input type="text" data-answer="stop" placeholder="Add word">, wait a minute<br />
Fill my cup, put some liquor in it<br />
Take a sip, sign a check<br />
Julio, get the stretch<br />
Ride to Harlem, Hollywood<br />
Jackson, Mississippi<br />
If we show up, <input type="text" data-answer="we" placeholder="Add word"> gon' show out<br />
Smoother than a fresh dry skippy</p>

<p>I'm too hot (hot damn)<br />
Called a police and a fireman<br />
I'm <input type="text" data-answer="too" placeholder="Add word"> hot (hot damn)<br />
Make a dragon wanna retire man<br />
I'm too hot (hot damn)<br />
Bitch say my name you <input type="text" data-answer="know" placeholder="Add word"> who I am<br />
I'm too hot (hot damn)<br />
Am I bad 'bout that money<br />
Break it down</p>

<p>Girls hit your hallelujah (whoo)<br />
Girls hit your hallelujah (whoo)<br />
Girls hit <input type="text" data-answer="your" placeholder="Add word"> hallelujah (whoo)<br />
'Cause uptown funk gon' give it to you<br />
'Cause uptown funk gon' give it to <input type="text" data-answer="you" placeholder="Add word"><br />
'Cause uptown funk gon' give it to you<br />
Saturday <input type="text" data-answer="night" placeholder="Add word"> and we in the spot<br />
Don't believe me just watch (come on)</p>

<p>Don't believe me just watch uh</p>

<p>Don't believe me just watch uh<br />
Don't believe me just watch uh<br />
Don't believe me just watch <br />
Don't believe me just watch<br />
Hey, hey, hey, oh</p>

<p>Before we leave<br />
Lemmi tell y'all a lil' something<br />
Uptown funk you <input type="text" data-answer="up" placeholder="Add word"><br />
Uptown funk you up<br />
Uptown funk you up<br />
Uptown funk you up uh<br />
I <input type="text" data-answer="said" placeholder="Add word"> uptown funk you up<br />
Uptown funk you up<br />
Uptown funk you up<br />
Uptown funk you up</p>

<p>Come on, <input type="text" data-answer="dance" placeholder="Add word">, jump on it<br />
If you sexy then flaunt it<br />
If you freaky then own it<br />
Don't brag about it, come show me</p>

<p>Come on, dance<br />
Jump on it<br />
If you sexy <input type="text" data-answer="then" placeholder="Add word"> flaunt it<br />
Well it's Saturday night and we in the spot<br />
Don't believe me just watch come on!</p>

<p>Don't believe me just watch uh</p>

<p>Don't believe me just watch uh<br />
Don't <input type="text" data-answer="believe" placeholder="Add word"> me just watch uh<br />
Don't believe me just watch<br />
Don't believe me just watch<br />
Hey, hey, hey, oh</p>

<p>Uptown funk you up<br />
Uptown funk you up (say what?)<br />
Uptown funk you up<br />
Uptown funk you up<br />
Uptown funk you up<br />
Uptown funk you up (say what?)<br />
Uptown funk you up<br />
Uptown funk you up<br />
Uptown funk you up<br />
Uptown funk you up (say what?)<br />
Uptown funk you up<br />
Uptown funk you up<br />
Uptown funk you up<br />
Uptown funk you up (say what?)<br />
Uptown funk you up</p>
