<p>This time for Africa</p>

<p>You're a <input type="text" data-answer="good" placeholder="Add word"> soldier<br />
Choosing your battles<br />
Pick yourself up and dust yourself off and back in the saddle<br />
You're on the front line<br />
Everyone's watching<br />
You know it's serious we're getting <input type="text" data-answer="closer" placeholder="Add word">, this isn't over</p>

<p>The pressure is on<br />
You feel it<br />
But you've got <input type="text" data-answer="it" placeholder="Add word"> all<br />
Believe it</p>

<p>When you get down oh oh<br />
And if <input type="text" data-answer="you" placeholder="Add word"> get up eh eh<br />
Tsamina mina zangalewa<br />
'Cause this is Africa</p>

<p>Tsamina mina eh eh<br />
Waka waka eh eh<br />
Tsamina mina zangalewa<br />
This time for <input type="text" data-answer="africa" placeholder="Add word"></p>

<p>Listen to your God<br />
This is our motto<br />
Your <input type="text" data-answer="time" placeholder="Add word"> to shine don't wait in line y vamos por todo</p>

<p>People are raising<br />
<input type="text" data-answer="their" placeholder="Add word"> expectations<br />
Go on and feed them this is your moment no hesitations</p>

<p>Today's your day<br />
I feel it<br />
You paved the <input type="text" data-answer="way" placeholder="Add word"><br />
Believe it</p>

<p>If you get down get up oh oh<br />
When you get <input type="text" data-answer="down" placeholder="Add word"> get up eh eh</p>

<p>Tsamina mina zangalewa<br />
This time for Africa</p>

<p>Tsamina mina eh eh<br />
Waka waka eh eh</p>

<p>Tsamina mina zangalewa<br />
Anawa aa</p>

<p>Tsamina mina eh eh<br />
Waka waka eh eh<br />
Tsamina mina zangalewa<br />
This time for <input type="text" data-answer="africa" placeholder="Add word"></p>

<p>Ame la mejole biggi biggi mubbo wa A to Z<br />
Asi tsu zala makyuni biggi biggi mubbo from East to West<br />
Asi waga waga ma eh eh waga waga ma eh eh<br />
Tendency suna tsibuye 'cause this is Africa (Africa, Africa Africa)</p>

<p>Tsamina mina, eh eh<br />
Anawa a a<br />
Tsamina mina, Anawa a a<br />
Tsamina mina,<br />
Tsamina mina, Anawa a a</p>

<p>Tsamina mina, eh eh<br />
Waka waka, eh eh<br />
Tsamina mina zangalewa<br />
Anawa a a<br />
Tsamina mina, eh eh<br />
Waka waka, eh eh<br />
Tsamina mina zangalewa<br />
This time for Africa</p>

<p>Django eh eh<br />
Django eh eh<br />
Tsamina mina zangalewa<br />
Anawa a a</p>

<p>Django eh eh<br />
Django eh eh<br />
Tsamina mina zangalewa<br />
Anawa a a</p>

<p>This time for Africa<br />
<input type="text" data-answer="this" placeholder="Add word"> time for Africa</p>

<p>We're all Africa<br />
We're <input type="text" data-answer="all" placeholder="Add word"> Africa<br />
We're all Africa</p>
