h1{
	color: #d7ceb2;
	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
	font: 90px 'BazarMedium';
	letter-spacing: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
}

h2{
	margin-top: 0px;
	margin-bottom: 20px;
	color: #d7ceb2;
	text-shadow: 3px 3px 1px #2c2e38, 5px 5px 1px #5c5f72;
	font: 50px 'BazarMedium';
	letter-spacing: 10px;
}

p{
	font-family: sans-serif;
  color:black;
	font-weight:bolder;
	font-size: 17px;

}

body{
	-webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;

   border: none;
   font: normal 100%/normal Arial, Helvetica, sans-serif;
   color: rgba(255,255,255,1);
   -o-text-overflow: clip;
   text-overflow: clip;
   background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
   background: -moz-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), -moz-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
   background: linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
   background-position: 0 0, 40px 40px;
   -webkit-background-origin: padding-box;
   background-origin: padding-box;
   -webkit-background-clip: border-box;
   background-clip: border-box;
   -webkit-background-size: 80px 80px;
   background-size: 80px 80px;

}


.button:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

placeholder{
	font-size: 5px;
}

#txtbox
	 {
		font-size: 15px;
		height:25px;
		width:130px;
	 }

.correct {
	color: green;
	font-weight: bolder;
	font-size: 15px;
}

.incorrect {
	color: red;
	font-weight: bolder;
	font-size: 15px;
}
