body {
  padding: 50px;
}

p {
   font-size: 16px;
   line-height: 1.7;
   padding-top: 30px;
}

.correct {
	color: green;
	font-weight: bolder;
	font-size: 15px;
}

.incorrect {
	color: red;
	font-weight: bolder;
	font-size: 15px;
}

#left-arrow{
  margin-top: 25px;
}

#left-arrow:hover{
  color: #63656E;
}
