body {
  padding: 50px;
}

p {
   font-size: 16px;
   line-height: 1.7;
   padding-top: 30px;
}

.correct {
	color: green;
	font-weight: bolder;
	font-size: 15px;
}

.incorrect {
	color: red;
	font-weight: bolder;
	font-size: 15px;
}

.score {
  margin-top: 20px;
  font-size: 40px;
}

.video {
}

.title {
  font-size:65px;
  margin-bottom: 35px;
}
